[2012-10-16 21:28] adamralph opened #10 "Pass ref/out parameter arguments from background into scenarios"

[2012-10-27 13:56] adamralph opened #12 "change test output files to BDD vocab"
E.g. HTML output could look like:-

[code]

Note that we might consider removing example values from scenario descriptions and rely on the step description to include those values, e.g. "Given a user named \"{0}\"".Given(() => ...);

We'd need to consider whether to omit type arguments. It may be the case that type arguments are useful only unit testing, in which case it may be better to leave the

[2012-11-07 20:27] adamralph opened #14 "improve names of extension methods"
[code]

[2012-11-07 20:30] adamralph opened #15 "add HappyPath and SadPath attributes"

[2012-11-07 20:41] adamralph opened #18 "Add equivalent of Gherkin Feature"
See https://github.com/cucumber/cucumber/wiki/Feature-Introduction
# Ideas

[code]

[2012-11-07 20:42] adamralph commented on #18
The only use of this would be for test runner output, but I'm still not sure how exactly it could be done. May only be something useable by a custom test runner.

May be able to use Xunit.RunWithAttribute as a base class for FeatureAttribute, pointing to an ITestClassCommand derived type which puts the feature info into test-suite name in the XML/HTML output.

[2012-11-07 20:44] adamralph opened #20 "roll isolated contexts into a single test command with an index matching source placement"

[2012-11-07 20:44] adamralph opened #21 "Allow steps to catch exceptions for use in subsequent steps"
E.g.

[code]

or

[code]

[2012-11-28 13:34] adamralph opened #24 "cucumber-esque output for TD.NET"
(and anything else which captures stdout)

[2013-03-17 01:36] jamesfoster commented on #12
I think this is a good move.

I was looking at removing the example values. It's relatively easy to remove them but because you now have several steps that have the same name and resharper sorts them you end up with:

[code]

So we need to add "example number" to the text. Something like `[Example.Context.Step]` but I couldn't see how to do this as InlineData attribute is handled by xunit and I co

[2013-03-25 06:40] adamralph commented on #12
I'd prefer to have a solution which worked for all runners, but if that's not possible then I think the assembly attribute is a good idea. `[Example]` is actually handled by xBehave and not xUnit. I had to override the behaviour so that `[Scenario]` could work both with and without a data attribute. I think the 'example number' approach could indeed work. It could perhaps be an extension to the nu

[2013-03-25 10:27] jamesfoster commented on #12
In the pull request the [config properties](https://github.com/jamesfoster/xbehave.net/blob/2fb2afb549b2156a97210c472c80525ff4b904d4/src/Xbehave.Sdk.Net40/CurrentScenario.cs#L42) are static. These could be configurable however you see fit.

And I'm using the exact [formatting](https://github.com/jamesfoster/xbehave.net/blob/2fb2afb549b2156a97210c472c80525ff4b904d4/src/Xbehave.Sdk.Net40/ContextComm

[2013-03-25 19:14] adamralph opened #35 "investigate use with ApprovalTests"
3/24/2013
 DavidSiew1
Hey Adam, I was wondering if you knew how to get your framework to work with approval tests http://approvaltests.sourceforge.net/
7:22:52 PM
3/25/2013
 adamral.ph
hi David, yes you can use whatever assertion library you like with xBehave
8:19:36 AM
as for approvaltests, it looks like it is based on NUnit, is that correct? if so, then it won't work with xbehave
8:20:39 AM
Davi

[2013-05-02 06:55] adamralph opened #51 "Switch to xUnit.net 2.0"
This is an opinionated subset of 1.0 features which I believe are required in version 2. If any features have been omitted, it is because I have never used them, nor have I heard of anybody using them, or I have only heard of them being used in an edge case. Ultimately the framework is designed to be extensible so if any edge cases are not being catered for then the extensibility points should be

[2013-06-02 21:13] adamralph opened #82 "New syntax"
Find a way to get rid of `x()`.

[2013-08-14 10:04] JCBrown opened #87 "[1.x only] Can't access fixture data when using IUseFixture"
I'm new to BDD and xBehave but I'm already a convert!
I'm currently trying to write an integration test to test my code against a closed-source host application, I'm using a fixture which starts everything up and then shuts down gracefully when disposed, the fixture works fine for Facts and Theories but when I try to write a Scenario it seems to be started and stopped several times but is never ac

[2013-08-14 22:58] adamralph commented on #87
Hi JC. When I think about the life cycle of the objects and the emission of the test commands, whilst not obvious, the behaviour you're observing makes sense. I guess this demonstrates an incompatibility between xUnit.net's IUseFixture (not something I use) and xBehave.net. This may be solvable, but in the meantime I suggest you investigate using xBehave.net's Background attribute together with .T

[2013-08-19 10:55] JCBrown commented on #87
Adam,
I looked at the Background steps attribute and it led me to a solution with the behaviour I was looking for.
I didn't actually use background steps but noticing the static methods in your example I realised I just needed to alter the test classes property storing my fixture instance to _static_; it initially felt like a cheat but all things considered it seems to make sense.
As [documented](

[2013-08-19 20:02] adamralph commented on #87
Ah it's great to hear that. Is it OK to close the issue in that case?

[2013-08-20 21:46] JCBrown commented on #87
It's fine to close the issue but do you think this should be documented anywhere?
I was toying with the idea of adding something to the wiki myself but I didn't want to spoil the zen of the ToC.

James

[2013-08-21 15:09] adamralph commented on #87
OK, after re-reading your workaround I now see exactly what's happening. xBehave maintains it's own instances of test classes for test method invocation and these are separate from the ones that xUnit creates and invokes SetFixture() on. This means there definitely is a disconnect between the workings of xUnit and xBehave. I can see why your workaround works, but it's quite ugly to have to do that

[2013-09-14 19:24] adamralph commented on #24
depends on #51

[2013-09-14 19:24] adamralph commented on #12
depends on #51

[2013-09-14 19:28] adamralph commented on #14
depends on #51

[2013-10-11 07:05] adamralph opened #107 "Add Xbehave.Fsharp package"
See extensions/helpers added in

http://fssnip.net/km
http://fssnip.net/ko
http://fssnip.net/kn
http://fssnip.net/kq

[2013-10-24 17:07] domgreen commented on #18
Would like this added would give us the ability to use it as a setup / tear down of many scenarios like IUseFixture in xUnit.
Would allow me to do something like build my db before all tests are run then delete it after all tests / scenarios are run therefore doing it once for a number of scenarios.

[2013-10-24 17:22] adamralph commented on #18
This isn't the feature you're looking for :wink:. This is just about adding some extra metadata to the test output.

Have you tried using xUnit.net's IUseFixture with xBehave.net? I think it may _just work_. The execution of xBehave.net scenarios is designed to follow the mechanisms of standard xUnit tests as closely as possible so a lot of the stuff you can do with xUnit.net should work in the sa

[2013-10-25 08:19] domgreen commented on #18
It kinda works ... using IUseFixture I can create my db using the features ctor and destroy it using Dispose but the data that I set in SetFixture(MyFixture fxture) seems to get clear down inside each xBehave step, will dig into it today and see if I'm doing anything crazy.

[2013-10-25 08:25] adamralph commented on #18
Aha - now I remember. There is an issue with IUseFixture, the details are at https://github.com/xbehave/xbehave.net/issues/87.

Until the issue is addressed properly, the (slightly ugly) workaround is to make the field which holds your fixture data `static`.

[2013-10-25 08:30] domgreen commented on #18
Yeah that's exactly what I've done for the moment ... will keep am eye on that bug. :) thanks.

[2013-10-25 08:32] adamralph commented on #87
Moved to **Ready**. The bug is clearly understood and should be addressed.

[2013-10-25 08:43] adamralph commented on #18
Great - in the meantime I've added it to a new 'known issues' page on the wiki - https://github.com/xbehave/xbehave.net/wiki/Known-Issues

[2013-10-25 08:52] adamralph commented on #87
https://twitter.com/adamralph/status/393661051348086784

[2013-10-25 22:22] adamralph commented on #87
@JCBrown I finally documented the workaround after @domgreen raised the same problem over in #18. See https://github.com/xbehave/xbehave.net/wiki/Known-Issues.

Of course, I really should just fix the bug :grimacing:.

[2013-10-25 23:03] JCBrown commented on #87
Thanks @adamralph, I really should have made my mark on that empty Wiki ;-) it's really come on now, just having a little read.
I'm using Xbehave regularly now, finding it helps me keep focus on the real requirements rather than loose myself in the detail.

[2013-10-26 00:00] adamralph commented on #87
Glad you like the wiki, it's surprising what can be done on one rainy Sunday :wink:.

It's great that you're finding xBehave so useful, hearing that makes it worthwhile.

[2013-11-15 21:11] adamralph opened #113 "Add templates to SideWaffle"
http://sidewaffle.com/
- A test project template
- A basic item template with a sample scenario
- An advanced item template showing off all the features
- Snippets
  - back Background
  - scenario Scenario
  - scenarioex ScenarioWithExamples
  - given, when, then, and, but

[2014-03-16 18:28] adamralph opened #144 "2.0 release"
**Ready** when all other issues forming part of the release are **Done**.
- [x] ensure patches have been merged from master to dev
- [x] run code analysis in VS in _Release_ mode and address violations (send a regular PR which must be merged before continuing)

---
- [x] RC smoke tests (passes, various types of faliures, skips)
  - [x] console - console output + html
  - [x] VS runner
  - [x] msbu

[2014-03-23 20:40] bapti opened #145 "Running some code once per set of examples"
I am using xBehave to test my webserver actions.  Is it possible to get it to only login once?  At the moment it runs the login step before each example.  I guess I could override with a static or something but just wondering if there's built in functionality for this kind of behaviour.

[code]

[2014-03-24 07:38] adamralph commented on #145
Hi @bapti, there's no specific feature built for this, but if you replace your background method with a constructor for your test class then that should do the trick. IIRC an instance of your test class will be constructed once per test run so the constructor will only be executed once.

(Note that if you find you also need to do some disposal/teardown after your scenarios have been executed then

[2014-03-24 07:48] adamralph commented on #145
Ah, sorry, I should read things more carefully. You want to run your background _per set of examples_. Well, I don't think there's a way of achieving exactly that right now. Perhaps for now you can muddle through things using class constructors or `IUseFixture` and by splitting up your scenarios across classes appropriately.

So I guess my background scope proposal would have to be:

[code]

[2014-04-13 14:15] adamralph opened #146 "IStepContext metadata"
As per https://github.com/scriptcs/scriptcs/pull/542/files#r11565140 it would be nice to have metadata about the scenario available on `IStepContext`, in that particular case, the name of the scenario method.

[2014-05-08 08:58] adamralph opened #151 "Skipped examples"
[code]

Skipped examples will appear in the test output.

[2014-05-16 16:57] adamralph opened #153 "Creation of arguments for scenario parameters"
e.g.

[code]

or

[code]

At this stage I've no idea if this could work or not :stuck_out_tongue_closed_eyes:.

`Create` could be `Auto`.

I guess something like AutoFixture is designed for generating and supplying these things but I've no idea if it works with xBehave.net. Still, xBehave.net could come with a simple built in value generator to cover simple cases.

[2014-05-23 08:15] adamralph opened #154 "Add .mailmap"

[2014-06-26 20:31] adamralph commented on #145
@bapti what do you think of my feature proposal? Would you find it useful?

[2014-06-26 20:48] adamralph opened #155 "DateTime, DateTimeOffset, and Guid values in Examples"
[code]

[code]

[code]

[2014-06-26 20:50] adamralph commented on #155
Taken by @mat-mcloughlin.

[2014-06-26 20:50] adamralph commented on #155
@mat-mcloughlin I thought I'd raise this so we have reference point for the work you're doing. Do you have something you can push up to your fork to show the locale problems you're having?

[2014-06-27 08:09] mat-mcloughlin commented on #155
I'll have to push later as the changes are on the PC at home. However the problem is only with testing rather than functionality.

I've been copying the way you've tested the rest of the arguments by using the `TestRunner.Run()` method and then checking the `DisplayName`. Now even though the code handles the correct locale this always seems to display in US date time format making it tricky to tes

[2014-12-01 16:10] georgehemmings opened #186 "Introduce a BeforeAfterScenarioAttribute"
I think it would be useful if there was a BeforeAfterScenarioAttribute available for extensions. This would be like xUnit's BeforeAfterTestAttribute, and would allow cross-cutting set-up for acceptance tests, like starting servers, and restoring databases.

[2014-12-01 17:46] adamralph commented on #186
That's an interesting idea. I'm not familiar with the BeforeAfter attribute
so I'll get up to speed on that and then report back.
On 1 Dec 2014 17:10, "George Hemmings" notifications@github.com wrote:

[2014-12-01 21:06] adamralph commented on #186
is BeforeAfterTestAttribute an xUnit 2.0 only feature?

[2014-12-01 21:19] adamralph commented on #186
Ignore me, I've found it in 1.9.2.

[2014-12-01 21:26] adamralph commented on #186
OK, so I can see that in xBehave.net 1.x, xUnit.net's `BeforeAfterTestAttribute` will be invoked before and after each step. I guess that may have some use, but I can see that something that runs before and after each scenario would be better.

In fact, you can achieve this right now using `Background`. Your 'before' is the content of the background steps, and your 'after' is whatever you put in t

[2014-12-01 22:24] georgehemmings commented on #186
This will work. Although this would report the step in the output. I'd end up with something like "Given there is a database". Cucumber has hooks for `before`, `after`, and `around` scenario actions to set-up the common infrastructure. (https://github.com/DatabaseCleaner/database_cleaner#cucumber-example)

Pushing these concerns into attributes keeps the scenarios focused. I'll use a `Feature` bas

[2014-12-01 22:31] georgehemmings commented on #186
It looks like SpecFlow has some attributes to support hooks https://github.com/techtalk/SpecFlow/wiki/Hooks

[2014-12-01 22:47] adamralph commented on #186
Interesting. Yes, I can see the value in having stuff that doesn't appear in the test output. I guess ideally we'd want `BeforeAfterStep` (synonym for `Xunit.BeforeAfterTest`), `BeforeAfterScenario` and `BeforeAfterFeature` (currently no way to achieve this effect in xBehave.net). With xUnit 2.0 it may be even be possible to have a `BeforeAfterFeatures` for the entire assembly.

Either way, this w

[2014-12-01 22:57] adamralph opened #189 "BeforeAfterStepAttribute"
As a synonym for `Xunit.BeforeAfterTestAttribute`.

Spun off from https://github.com/xbehave/xbehave.net/issues/186.
See related #188.

[2014-12-02 09:07] georgehemmings commented on #186
`BeforeAfterFeatures` would be a great addition, particularly for acceptance/system testing. There isn't a clean way of doing this in xUnit currently.

[2014-12-02 09:12] adamralph commented on #186
Agreed. At the moment, at work, we do all our before/after at that level in our build script, which is fine when running the build script, but for debugging in VS, it means manual steps to get things working.

[2014-12-03 18:09] giggio commented on #51
@adamralph Any idea of when this will be done?

[2014-12-03 19:53] adamralph commented on #51
Progress is good. I've been working on the Teardown feature today. I'm
optimistic that I can push out a beta as Christmas present :smiley:
On 3 Dec 2014 18:09, "Giovanni Bassi" notifications@github.com wrote:

[2014-12-03 20:01] giggio commented on #51
Nice! :+1:

[2014-12-03 22:53] adamralph commented on #51
Teardown feature is done...

[2014-12-04 11:28] adamralph opened #192 "Add Trait tests"

[2014-12-05 17:50] adamralph opened #196 "Async teardowns"
[code]

[2014-12-05 18:10] adamralph commented on #51
ObjectDisposal done!

[2014-12-05 18:26] adamralph commented on #20
At the moment the plan is to drop isolated contexts for V2. If that plan stays in place then this will become a wontfix.

[2014-12-06 00:33] adamralph commented on #51
BeforeAfterTestFeature done!

[2014-12-06 01:18] giggio commented on #51
This is going fast! :raised_hands:

[2014-12-10 16:25] adamralph commented on #51
:gift: Christmas has come early!

https://twitter.com/adamralph/status/542716213936521217

https://www.nuget.org/packages/Xbehave/2.0.0-beta001-build-488

[2014-12-10 17:41] giggio commented on #51
Nice! :+1:

[2014-12-13 21:05] adamralph commented on #51
Beta 2 is now on nuget, with added support for Windows 8.1+ (Universal), Windows Phone 8 (Silverlight) and Windows Phone 8.1+ (Universal)

https://www.nuget.org/packages/Xbehave/2.0.0-beta002-build494

[2015-01-08 10:07] adamralph opened #217 "Introduce IBackgroundStepContext"
Similarly to https://github.com/xbehave/xbehave.net/issues/146, it would be nice to have step definition overloads which accept an `IBackgroundStepContext` parameter which contains metadata about the scenario being executed. This would allow, e.g. a background to take care of creating the directories for scriptcs scenarios, e.g. https://github.com/scriptcs/scriptcs/blob/4505429a2341f4f38ad6168dd0b

[2015-01-08 10:17] adamralph opened #218 "Share state via IStepContext"
This would avoid the requirement to define scenario method parameters (or the old pattern of local variables) in order to share state between steps. E.g.:

[code]

and when only one instance of a given type is required, it could be anonymous, e.g.

[code]

[2015-01-29 15:27] adamralph opened #220 "win8 support"

[2015-01-29 15:27] adamralph opened #221 "wp8 support"

[2015-01-29 15:28] adamralph opened #222 "wpa81 support"

[2015-01-29 15:28] adamralph opened #223 "Xamarin support"

[2015-01-29 15:29] adamralph opened #224 "DNX/CoreCLR/dotnet/netstandard platform support"
For use by non-desktop runners, e.g. DNX.

Requires linking to xunit 2.1.

---

_update_
On hold, pending _whatever it is called_ RC2 (plus the corresponding future xunit release).

[2015-01-29 15:34] adamralph opened #225 "switch to xunit.net RC1"

[2015-01-29 15:39] adamralph opened #226 "Mimic package installation for 2.0 acceptance tests"
Change the dependencies, props and targets of the 2.0 acceptance test project to mimic an installation of the xbehave package.

[2015-01-29 15:40] adamralph opened #227 "Change 2.0 acceptance tests assembly name"
Xbehave.2.Test.Acceptance.Net45, to make reading build output easier.

[2015-02-27 14:06] huer12 opened #228 "VS TestExplorer does not discover tests with XUnit 2.0 RC3 and xBehave 2.0 beta 4"
I tried to switch to the newest XUnit version 2.0 RC3, but in this version the VS TestExplorer does discover the scenarios anymore. Also the msbuild runner does not discover the scenarios.

Any suggestions?

[2015-02-28 14:54] adamralph commented on #228
Hi @huer12, when you say "switch to the newest XUnit version 2.0 RC3" what do you mean by that? Did you install the xunit.runners package into your project?

[2015-03-01 10:24] huer12 commented on #228
Yes I installed the xunit runners for ms build and also the one for Visual
Studio.

2015-02-28 15:54 GMT+01:00 Adam Ralph notifications@github.com:

[2015-03-01 16:01] adamralph commented on #228
OK, thanks for reporting. I'll see if I can reproduce...

[2015-03-05 15:37] adamralph commented on #228
@huer12 I'm afraid I can't reproduce this. I installed xunit.runner.visualstudio 2.0.0-rc3-build1046 into a test project and the VS runner located the tests perfectly.

I've pushed the change to this branch if you want to see for yourself https://github.com/adamralph/scriptcs/tree/xunit-xbehave-vs-runner-test

[2015-03-05 20:08] huer12 commented on #228
Hi Ralph

If you work with xunit 1.9.2 and Xbehave 1.1.0 it works, but if you work
with xunit 2.0.0 rc3 and Xbehave 2.0.0 beta 4 it does not. I have attached
a test program. It does find the test in the ClassLibrary1, but it does not
find the one in ConsoleApplication1.TestXBehave

Regards,
Roman

2015-03-05 16:37 GMT+01:00 Adam Ralph notifications@github.com:

[2015-03-05 20:14] adamralph commented on #228
Hi @huer12 yes, you're correct. Sorry, I didn't realise you were trying to use xBehave 2.0 beta. I'm actually in conversation with @bradwilson about this at the moment, since there are some issues surrounding the VS runner and extensions built over xunit 2.0. We're confident that they can be fixed with xunit 2.0 RC4. Once that has been released, I'll build and release xbehave 2.0 beta 5 which shou

[2015-03-05 21:07] huer12 commented on #228
Hi, thanks for the information. So I'm waiting.

2015-03-05 21:14 GMT+01:00 Adam Ralph notifications@github.com:

[2015-03-17 10:58] adamralph commented on #225
covered in #51

[2015-03-17 10:58] #225 closed, assigned to adamralph

[2015-03-17 12:15] adamralph commented on #227
part of #51

[2015-03-17 12:15] #227 closed, assigned to nobody

[2015-03-17 16:27] adamralph opened #231 "Official mono support"
I.e. build and test on TravisCI

[2015-03-17 22:52] adamralph commented on #228
@huer12 this has been fixed in beta 6 (https://www.nuget.org/packages/Xbehave/2.0.0-beta006-build519)

For an example of it working, see https://github.com/xbehave/xbehave.net-samples

If you still run into problems with beta 6, feel free to reopen this issue.

[2015-03-17 22:52] #228 closed, assigned to adamralph

[2015-03-18 18:00] adamralph opened #233 "Swap ordinals and method params in display names"
Currently:

[code]

Better?

[code]

[2015-03-19 18:22] adamralph commented on #51
FYI: 2.0 beta 7 was released today - https://www.nuget.org/packages/Xbehave/2.0.0-beta007-build521

As you can see from the checklist, 2.0 is getting very close to RTM now. I'm waiting on some feedback from @remcomulder regarding NCrunch compatibility, but it could well be the case that beta 7 is fully functional and no longer requires any changes. Once we've managed to get NCrunch working, the ro

[2015-03-19 19:25] adamralph commented on #226
Not practical. Better to rely on https://github.com/xbehave/xbehave.net-samples and something similar to (or a fork of) https://github.com/xunit/visualstudio.xunit.integration for smoke testing.

[2015-03-19 19:25] #226 closed, assigned to nobody

[2015-03-19 19:30] adamralph commented on #192
part of #51

[2015-03-21 11:40] adamralph commented on #51
FYI: 2.0 beta 8 was released today - https://www.nuget.org/packages/Xbehave/2.0.0-beta008-build523

It turned out there was one subtle change required for NCrunch in the case when a scenario contains no steps (which is likely whilst it is being written).

The only remaining tasks for 2.0 are some minor internal refactorings. After these are done I will be releasing RC 1 for testing. The first RC t

[2015-03-23 02:36] adamralph opened #236 "Switch to 'standard' .net layout"
https://gist.github.com/davidfowl/ed7564297c61fe9ab814

[2015-03-23 02:59] adamralph opened #238 "'x' method"
To complement `f` and `_`.

Way overdue :stuck_out_tongue_winking_eye:

[2015-03-23 04:22] adamralph commented on #186
@georgehemmings the behaviour of `BeforeAfterTestAttribute` has changed in xBehave 2.0 (currently in beta) and it will exhibit the exact behaviour that you are proposing for the `BeforeAfterScenarioAttribute`. I.e. it will be run before and after the scenario, rather than each step.

I'll leave this issue open since it may still be worth introducing a `BeforeAfterScenarioAttribute`, purely as a sy

[2015-03-23 04:25] #14 closed, assigned to nobody

[2015-03-23 04:27] adamralph commented on #21
[code]

[2015-03-23 04:27] #192 closed, assigned to nobody

[2015-03-25 00:53] adamralph commented on #231
Depends on https://github.com/xunit/xunit/issues/158

[2015-03-26 12:06] adamralph commented on #51
As discussed with @remcomulder, we need to attempt enumeration of tests at discovery time, with enumeration at execution time as a fall back only, as per xunit theories. NCrunch will be changed to deal with enumeration at execution time in the case of fall back, but other runners may not be so forgiving.

[2015-03-26 12:55] adamralph commented on #51
LOL - I just realised something plainly obvious. test discovery at discovery time can never work for xbehave. When the scenario method is executed, the step delegates are collected and it is those that define the tests. I can't serialize those delegates :stuck_out_tongue_winking_eye:

It will have to stay as is, at execution time.

[2015-03-26 20:36] adamralph opened #245 "Steps which follow a failed a step are skipped"
In 1.x, they are failed.

[2015-03-26 22:25] adamralph commented on #51
RC1 is out now https://www.nuget.org/packages/Xbehave/2.0.0-rc001-build541

[2015-04-02 15:24] adamralph opened #247 "OnFailure"
See https://gist.github.com/GraemeBradbury/c14eb5133bb01f979328#comment-1425825

A way to specify that a step failure does not prevent execution of further steps. E.g.

[code]

In this scenario, if `"Then something"` fails then the remaining `"And..."` steps are still executed instead of being skipped. However, if `"And something else"` fails then `"And something else again"` is skipped, since the

[2015-04-15 12:57] ursenzler commented on #233
I like the proposed order better, that the currently implemented one :-)

[2015-04-15 13:38] ursenzler commented on #51
I think the xbehave package should have a dependency on xunit.core and not xunit.
I don't want the xunit.assert to be added automatically.

[2015-04-15 13:51] ursenzler commented on #51
When I update to RC 1, then I cannot find the `ContinueOnFailureAfter` class anymore.

The assembly is quite empty compared to the old version:

![image](https://cloud.githubusercontent.com/assets/287565/7160077/236369fa-e387-11e4-95d7-e7d39d29d718.png)

Where did the class go?

I use `_` for all steps, and I want to execute all assertion steps, even when an establish/given/setup step fails.

[2015-04-15 14:59] adamralph commented on #233
Something has just occurred to me. In 1.x, there was an undocumented feature which allowed the suppression of argument values in scenario names, which would leave it to the test author to embed the argument values in the step names instead, i.e.

[code]

[code]

But over time, I realized that switching off the argument values in the scenario names was rarely a good idea, even if the values are als

[2015-04-15 15:12] adamralph commented on #51
@ursenzler the full set of 2.0 changes is listed at https://github.com/xbehave/xbehave.net/wiki/Changes-in-version-2.0. It is most certainly opinionated, which is why feedback like yours is very valuable, so thanks for that.

You are the first person  I've heard of, other than the original contributor, who uses `ContinueOnFailureAfter` :stuck_out_tongue_closed_eyes:. Personally, I've never used it

[2015-04-15 15:23] adamralph commented on #51
WRT the package dependency, I would really like to have `xbehave = xunit + {steps}` where `xunit = xunit.core + xunit.assert` (plus whatever else my be added in future).

We _could_ have `xbehave.core = xunit.core + {steps}` and `xbehave = xunit + xbehave.core`, but I'm not sure it's really worth it. Does having `xunit.assert` brought along cause any problems? It's no worse than 1.x, since xunit 1

[2015-04-15 15:29] adamralph commented on #144
There is some feedback on 2.0 RC1 over at #51

[2015-04-15 18:23] ursenzler commented on #51
I used the ContinueOnFailureAfter so that when one assertion fails, all other are still run.

But no big deal if they are now marked as not-run

If one fails, there is a problem anyway.

I absolutely agree with keeping a library as small as possible.

[2015-04-15 18:25] ursenzler commented on #51
No real problem with the xunit assertions. They are not extension methods and therefore don't pollute intellisense. If it is easier, keep it.

[2015-04-15 19:07] adamralph commented on #51
The handling of failures is much nicer in 2.0. In 1.x, when a step in a scenario fails, the remaining steps are also marked as failures, with the message 'Failed to execute preceding step...'. In 2.0, the remaining steps are marked as _skipped_, with the _reason_ 'Failed to execute preceding...'. This eliminates a lot of noise in the test output and allows you to quickly home in on the actual step

[2015-04-16 12:17] ursenzler commented on #51
I just liked the ContinueOnFailureAfter because it allowed steps to succeed even when one "assert" step failed. In the sense of the system could do this and that, but one thing failed. Now (depending on order), I don't know whether the remaining steps would have succeeded.
But for this to work, there needs to be some distinction between given, when and then. And I don't like that. So it probably i

[2015-04-16 13:04] ursenzler opened #248 "uninitialized constant XUnitTestRunner"
Clean clone of the dev branch

installed ruby (at least as far I can tell) according to how_to_build.md (except that I downgraded albacore to 1.0)

run rake

aborts with the error message:
`uninitialized constant XUnitTestRunner`

[2015-04-16 13:27] adamralph commented on #248
Yeah, this is frustrating. Rubygems is effectively a GAC :cry: I want to convert to Bau ASAP.

Does it work with this?

[code]

[2015-04-16 17:58] adamralph commented on #248
Actually there should be a `bundle install` in there too:

[code]

If that works for you then we can update the instructions accordingly.

[2015-04-16 20:03] adamralph commented on #51
I don't think there would be a bunch of new packages, it would just be one new package, xbehave.core.

For those that would normally install xunit, they can install xbehave and get the same xunit, with assertions.

For those that would normally install xunit.core, they can install xbehave.core and get the same xunit.core, without assertions.

The more I think about it, the more I think this should

[2015-04-17 07:18] ursenzler commented on #51
:-)

[2015-04-18 14:24] adamralph commented on #51
@ursenzler I've just pushed out RC2 which introduces the Xbehave.Core package https://www.nuget.org/packages/Xbehave.Core/2.0.0-rc002-build543

It would be great if you could give it a try.

[2015-04-18 15:25] #248 closed, assigned to adamralph

[2015-04-18 15:26] adamralph commented on #248
@ursenzler please refer to the new instructions - https://github.com/xbehave/xbehave.net/blob/dev/how_to_build.md

[2015-04-19 12:46] ursenzler commented on #51
I had a somewhat crary idea Regarding the handling of steps wit previously failed steps:
Try to run it, if it succeeds, mark it as succeeded, if it fails, mark it as inconclusive, because failure could be because of previous failed step.
That would allow for execution and reporting of assertion steps (then, it) even when one of them fails.
What do you think?

[2015-04-20 14:53] ursenzler commented on #51
I checked xBehave.Core. Looks good.

[2015-04-20 17:36] adamralph commented on #51
Great, thanks for trying it!

With regard to the crazy idea, unfortunately xunit does not have the concept of an inconclusive test result. The only possible results are Failed, Passed and Skipped.

What we could do is have new version of `ContinueOnFailureAfterAttribute` which takes a regex pattern in its constructor. Any step which matches the regex can trigger the behaviour. E.g. to continue aft

[2015-04-21 08:01] ursenzler commented on #51
That would work for me.

[2015-04-21 08:33] adamralph commented on #51
OK, let's get that into RC3.

[2015-04-29 14:05] ursenzler commented on #236
I wouldn't work against what Visual Studio thinks how the world is, even if it would be conceptually better.
-> .sln inside \src
-> tests and production code both on same level (as projects in VS)

[2015-04-29 15:47] adamralph commented on #236
It just needs some solution folder magic dust sprinkled in :sparkles:

[2015-05-01 03:45] wangvnn opened #251 "support nested context (steps)"
I am looking for BDD test framework that is based on xUnit.
xBehave looks like a good one with nice syntax.

Below  is a wishful thought, it may not be a good idea.
Note: nested given steps, and nested when steps.
This makes use of the C# closure to reuse/remove local variables from other steps.
I find it is a huge speed up in term of writing test. On the downside, readability may be not as good a

[2015-05-01 08:52] adamralph commented on #251
Hi, @wangvnn thanks for raising this. We've already discussed the notion of nested contexts/steps over at #98 so I'm going to close this as a duplicate, but it's good to see your proposed use case. I'm sure we can come up with something which works as a post-2.0 feature.

[2015-05-01 08:52] #251 closed, assigned to nobody

[2015-05-04 15:02] ursenzler commented on #51
I migrated a lot of specs to xBehave 2.0. All works well, no problems found. Hope you get rid of the pre-release soon - so that my automatic scripts for updates work again :-)

[2015-05-04 15:31] adamralph commented on #51
That's great! It certainly gives the RC a good vote of confidence.

[2015-05-05 21:26] adamralph commented on #51
@ursenzler I've spent some good time agonising over the 'continue on failure' feature. What bothered me was that it's a highly specific extension and, especially, _one that I've never used_.

So I came up with a different idea. I've added a new step builder method, `ContinueOnFailure()` which can be used to indicate that a specific step should exhibit this behaviour, e.g.

[code]

In this scenario

[2015-05-05 21:46] adamralph commented on #21
[code]

`Try` pushes onto a stack, `Catch` pops off it.

[2015-05-05 21:57] adamralph commented on #218
Can maybe even achieve:

[code]

[2015-05-05 22:05] adamralph opened #254 "StepDefinition filter attributes"
An extensibility point to allow the filtering of step definitions in a scenario before execution.

E.g. emulation of the undocumented 1.x `ContinueOnFailureAfterAttribute`:

[code]

[2015-05-05 22:06] adamralph commented on #247
implemented in https://github.com/xbehave/xbehave.net/pull/252

[2015-05-05 22:12] adamralph commented on #233
No longer valid, since the scenario number has been removed in 2.0. Only the step number remains, e.g.

[code]

[2015-05-05 22:12] #233 closed, assigned to nobody

[2015-05-05 22:14] adamralph commented on #20
Isolated contexts are dropped in 2.0.

[2015-05-05 22:14] #20 closed, assigned to nobody

[2015-05-05 22:19] adamralph commented on #189
Can't see any use for this.

[2015-05-05 22:19] #189 closed, assigned to nobody

[2015-05-05 22:23] adamralph commented on #217
Taken care of in https://github.com/xbehave/xbehave.net/issues/146

The steps in a background method receive exactly the same context object as steps in a scenario method.

[2015-05-05 22:23] #217 closed, assigned to nobody

[2015-05-05 22:29] adamralph commented on #87
`IUseFixture` has been removed in xunit 2.0 and therefore xbehave 2.0 has no need to support it.

xbehave 2.0 is currently in RC (https://www.nuget.org/packages/Xbehave/2.0.0-rc002-build543).

This will remain as a bug in 1.x, unless someone can sell me a very compelling reason why they need to stick to 1.x and why they need this to be fixed :wink:.

[2015-05-05 22:29] #87 closed, assigned to nobody

[2015-05-05 22:53] adamralph commented on #145
Another way to do this is to introduce a new attribute that runs before and after each 'scenario outline' which, in Gherkin, means 'the set of all scenarios generated from the examples'. E.g.

[code]

[2015-05-05 22:55] adamralph commented on #145
I'm going to proceed with this using the attribute based design, unless anyone voices an opinion.

[2015-05-06 08:05] ursenzler commented on #51
I like the idea with the attribute more. Mainly because I use "establish", "when", "it", "it" with no distinction between the assertion steps. The step builder method brings the concept of order to my assertion steps, which I don't like. What if I change the order?

The attribute would allow to run all "it" even if a single "it" fails. That's what I like.

[2015-05-06 09:22] adamralph commented on #51
Which attribute are you referring to? There is the old 1.x attribute and the proposed new 2.x attribute.

[2015-05-06 09:26] adamralph commented on #51
With 2.x attribute you can achieve what you want like so:

[code]

You don't need to use the step builder method at all. And you can freely change the order of your `It` steps.

[2015-05-06 12:36] ursenzler commented on #51
I meant that the new proposed attribute solution is just perfect for my needs.
I won't need the step builder method.

[2015-05-06 12:41] adamralph commented on #51
Ah, great! :smile:

OK, so that will be part of RC3 - tracked by https://github.com/xbehave/xbehave.net/issues/254

[2015-05-06 18:15] adamralph commented on #254
@ursenzler any thoughts on the base attribute name?

[2015-05-07 06:10] ursenzler commented on #254
Depends on what else is possible with this attribute.
In this scenario it is not filtering.

Maybe StepConfigurationAttribute?  -> method Configure(steps)
Or StepDefinitionAttribute? -> method Define(steps)
Or TweakStepAttribute? -> method Tweak(steps)

[2015-05-07 06:54] adamralph commented on #254
Thanks for the suggestions. 'configuration' may be appropriate. I'm not sure about 'definition' since the steps are already defined, the attribute just adds some extra mutation to them. I think 'tweak' doesn't really convey enough. I also thought about 'customize' but that doesn't really fit. There are no 'standard' steps so _every_ step or list of steps is custom.

I think the reason I initially

[2015-05-07 07:02] ursenzler commented on #254
I like this idea.

[2015-05-07 09:00] adamralph commented on #254
then it shall be done :smiley:

[2015-05-17 22:48] adamralph commented on #254
@ursenzler I came up with a slightly different way of doing it (I've updated the example in the description).

The step builder method is now `OnFailure(RemainingSteps)` where the `RemainingSteps` enum has values `Skip` (default) and `Run`.

Your custom attribute does not have to inherit from any base attribute. All it has to do is implement `IFilter<IStepDefinition>`. xBehave will search the asse

[2015-05-18 20:21] adamralph commented on #254
FWIW, RC3 is out - https://www.nuget.org/packages/Xbehave/2.0.0-rc003-build581

There's still time to change things if required.

[2015-06-02 09:18] KristyJGuo commented on #245
Hi, this issue have been fixed?

[2015-06-02 09:35] adamralph commented on #245
@KristyJGuo it's in the 2.0 release candidate, which is available at https://www.nuget.org/packages/Xbehave/2.0.0-rc003-build581

This feature will not be added to 1.x.

[2015-06-02 10:41] KristyJGuo commented on #245
Hi @adamralph ,
Sorry, I misunderstood your title. In my case, I want to continue to execute steps which follow a failed step, not skipped. Do you have some ideas?

[2015-06-02 17:07] adamralph commented on #245
@KristyJGuo ah, I see. Sure, you can do this in 1.x with an undocumented feature:

[code]

This is effectively saying:

You can add this attribute to a method, a class, or even an entire assembly:

[code]

This attribute was removed in 2.x since it was rarely used and added considerable implementation overhead, but you can replicate the same behaviour using your own custom step definition filter a

[2015-06-03 03:33] KristyJGuo commented on #245
Hi @adamralph
I installed 1.0,

[code]

But after the Given step failed, the When and Then steps still Skipped. What's wrong with it?

[2015-06-03 05:42] adamralph commented on #245
@KristyJGuo that example is from SpecFlow, not xBehave.net.

[2015-06-11 09:03] adamralph opened #259 "Failure to run tests"
From https://jabbr.net/#/rooms/xbehavenet

[code]

[2015-07-26 09:05] adamralph opened #260 "Allow examples to be discovered by test runners when possible"
https://github.com/xunit/xunit/issues/342

Since `TheoryDiscoverer` was made more extensible, it should be possible to override the more granular methods and allow this.

Depends on #566.

[2015-08-04 06:42] adamralph commented on #259
No further input from reporter of issue. Closing.

[2015-08-04 06:42] #259 closed, assigned to adamralph

[2015-08-04 19:30] togakangaroo commented on #35
Anyone take a look at this? The issue is typically that ApprovalTests is checking the stacktrace and not finding a good test name to use. I've added (lame) support to Subspec before by doing

[code]

Where

[code]

and I had to add a static

[code]

to Subspec basically relying on single-threading of tests

[2015-08-04 19:38] adamralph commented on #35
Hi @togakangaroo I'm afraid I never got round to looking at this. I've never used ApprovalTests myself and you're the first person to ask about it since that original question.

Would you be able to give it a try and see what you can find it out? Any help you could offer on this would be hugely appreciated.

[2015-08-04 19:40] adamralph commented on #35
BTW - xBehave.net 2.0 is due out any day now and it is a complete re-write (as is xUnit.net 2.0), so it may not be worth spending too much time getting this working with 1.x.

[2015-08-06 16:15] adamralph opened #263 "Step context for teardowns"

[2015-08-06 16:39] adamralph commented on #144
https://twitter.com/adamralph/status/629330749251055616

[2015-08-06 16:41] adamralph commented on #254
https://www.nuget.org/packages/Xbehave/2.0.0

https://github.com/xbehave/xbehave.net/releases/tag/2.0.0

[2015-08-06 16:41] adamralph commented on #247
https://www.nuget.org/packages/Xbehave/2.0.0

https://github.com/xbehave/xbehave.net/releases/tag/2.0.0

[2015-08-06 16:41] adamralph commented on #245
https://www.nuget.org/packages/Xbehave/2.0.0

https://github.com/xbehave/xbehave.net/releases/tag/2.0.0

[2015-08-06 16:41] adamralph commented on #238
https://www.nuget.org/packages/Xbehave/2.0.0

https://github.com/xbehave/xbehave.net/releases/tag/2.0.0

[2015-08-06 16:41] adamralph commented on #146
https://www.nuget.org/packages/Xbehave/2.0.0

https://github.com/xbehave/xbehave.net/releases/tag/2.0.0

[2015-08-06 16:41] adamralph commented on #51
https://www.nuget.org/packages/Xbehave/2.0.0

https://github.com/xbehave/xbehave.net/releases/tag/2.0.0

[2015-08-06 17:15] adamralph opened #266 "2.1.0 release"
**Ready** when all other issues forming part of the release are **Done**.
- [x] ensure patches have been merged from master to dev
- [x] run code analysis in VS in _Release_ mode and address violations (send a regular PR which must be merged before continuing)
- [x] create and merge PR from upstream dev to master
- [x] smoke test NuGet package
- [x] create release in GitHub UI **on master** includ

[2015-08-06 17:17] #238 closed, assigned to nobody

[2015-08-06 17:17] #254 closed, assigned to nobody

[2015-08-06 17:17] #247 closed, assigned to nobody

[2015-08-06 17:17] #146 closed, assigned to nobody

[2015-08-06 17:17] #245 closed, assigned to nobody

[2015-08-06 17:17] #51 closed, assigned to nobody

[2015-08-06 17:17] #144 closed, assigned to adamralph

[2015-08-08 18:48] togakangaroo commented on #35
Best I can promise is that checking this out will go not as far to the back of my queue as some other things.

In the meantime this hacky thing works:

[code]

[2015-08-13 14:16] adamralph commented on #35
Thanks @togakangaroo!

In the meantime I've linked to here in the [FAQ](https://github.com/xbehave/xbehave.net/wiki/FAQ).

[2015-08-27 08:50] DerAlbertCom commented on #224
Any plans to support .net core?

[2015-08-27 12:45] adamralph commented on #224
Hi Albert. This is planned for the 2.1 release. This will be linked to
xunit 2.1 (currently in beta), which also introduces .net core support.

On 10:50, Thu, 27 Aug 2015 Albert Weinert notifications@github.com wrote:

[2015-09-03 08:29] ursenzler opened #267 "Render array elements in test output"
When running these tests

[code]

the output looks like

![image](https://cloud.githubusercontent.com/assets/287565/9653835/87c3dbba-5226-11e5-9b3c-43a6b14dd99e.png)

Any idea, why the bare xunit test formats the arguments and the xbehave test doesn't?

[2015-09-03 08:32] ursenzler commented on #267
btw, when replacing `Example` with `InlineData`, there is still no formatting when using xBehave.

[2015-09-03 08:38] adamralph commented on #267
Interesting!

xbehave performs it's own rendering of the test names rather than using the rendering in xunit (due to supporting the generation of default values for method params). For the most part, `ToString()` is called on each argument but I guess xunit must be special casing arrays by calling `ToString()` for each element and rendering them in a square bracketed CSV. I'm sure we can just repl

[2015-09-03 08:41] adamralph commented on #267
I guess we could also investigate what xunit does with other enumerable types and if there is any other special rendering we could also replicate it and expand the scope of this beyond just arrays.

[2015-09-03 09:13] ursenzler commented on #267
@adamralph can you give me a pointer to where the rendering happens? I didn't find it :-(

[2015-09-03 09:21] adamralph commented on #267
@ursenzler sure, here you go https://github.com/xbehave/xbehave.net/blob/30c9df9fe7f4736c54d68ef7e860facdf728e95e/src/Xbehave.2.Execution.desktop/ScenarioRunnerFactory.cs#L205

[2015-09-03 09:27] ursenzler commented on #267
thanks. I'll try to integrate the xUnit magic into that method.

[2015-09-03 09:34] adamralph commented on #267
Thank you!

On Thu, 3 Sep 2015 at 10:27 Urs Enzler notifications@github.com wrote:

[2015-09-03 11:51] ursenzler commented on #267
@adamralph how can I create a nuget package from the xBehave sources/binaries. Is there something in the repo or do I have to create it myself?

[2015-09-03 11:59] adamralph commented on #267
@ursenzler if you build it [using Rake](https://github.com/xbehave/xbehave.net/blob/dev/how_to_build.md) it will produce the nugets in `artifacts/bin/`.

[2015-09-03 12:07] ursenzler commented on #267
@adamralph ah, okay.

[2015-09-03 12:16] adamralph commented on #267
That usually means the wrong version of albacore is being used. Did you use bundler to install the gems and invoke rake?

[2015-09-03 12:17] ursenzler commented on #267
I went through all the steps in the "how to build" again and I can build now. thanks. Had some gem updates.

[2015-09-04 06:33] ursenzler commented on #267
Unfortunately, the `ArgumentFormatter` used in xUnit is internal.

My suggestion:
1. make a pull request to xUnit to make `ArgumentFormatter` public
2. for now, duplicate the code in xBehave.
3. once the `ArgumentFormatter` is public, use it and remove duplication.

What do you think?

[2015-09-04 06:48] ursenzler commented on #267
Prototype working:
![image](https://cloud.githubusercontent.com/assets/287565/9678083/aa2882e4-52e1-11e5-9c58-17633dfd6a5b.png)

[2015-09-04 15:09] adamralph commented on #267
@ursenzler looks good!

I think your suggestion makes sense.

[2015-09-20 14:58] mvalipour commented on #224
@adamralph is there any nuget distribution of betas for 2.1? I'm specially interested in the dnx support.

[2015-09-20 15:18] mvalipour opened #269 "NCrunch Number of Tests"
So this is not necessarily an issue but a confusion that puzzled me for a bit.

Given NCrunch Separates out the discovery and execution of tests ([see here](http://forum.ncrunch.net/yaf_postst1639_Test-Names--and-so-the-tests--of-xBehave-not-displayed-in-NCrunch-Tests-Windows.aspx#forum_ctl03_MessageList_ctl01_DisplayPostAlt_NameCell)), it does not show correct number tests and also does not respe

[2015-09-21 06:50] adamralph commented on #151
or `[SkipExample(...)]`

[2015-09-21 06:56] adamralph commented on #269
Hi @mvalipour, thanks for raising this.

As you describe, NCrunch isn't able to do any better than this and I agree, we should add something to the docs as you describe. Would you like to have a crack at it? The wiki should be freely editable.

BTW - thanks for the link to the thread in the NCrunch forums, that's very interesting.

[2015-09-21 07:00] adamralph commented on #224
@mvalipour none yet I'm afraid. It seems to be a popular theme so I'm marking this as a top priority.

[2015-09-21 17:34] mvalipour commented on #269
Done:

https://github.com/xbehave/xbehave.net/wiki/Can-I-use-xBehave.net-with-continuous-test-tools%3F#ncrunch

[2015-09-21 18:13] adamralph commented on #269
Thank you so much!

[2015-09-21 18:13] #269 closed, assigned to nobody

[2015-09-21 19:43] mvalipour commented on #269
(Y)

BTW, I would be glad to contribute to xBehave, specially around dnx if I could be any help.

[2015-09-21 20:22] adamralph commented on #269
@mvalipour your contributions would be more than welcome!

[2015-09-22 02:07] mvalipour commented on #224
@adamralph

OK, I managed to build a dnx package and get xbehave to run successfully on it!

The code is on a repo here (for now)
https://github.com/mvalipour/xbehave.dnx.test

99.9% of the code is same as the `desktop` execution, but I have copied them across for now.
if you are happy with this, we could discuss merging this into the main repo.

![](http://i.imgur.com/86AocgD.png)

[2015-09-22 06:35] adamralph commented on #224
@mvalipour it's great that you got it working!

Would you like to send a pull request?

[2015-09-25 20:54] kirk-marple commented on #224
@mvalipour I'd like to play around with your DNX version of Xbehave.

Is your repo replacing the 'Xbehave' dependency in a typical DNX project?

Is the 'ScenarioX' attribute required to make this work?

I have several DNX projects using beta7, and already linking with xunit 2.1, and had been using xunit.runner.dnx.  Just wasn't sure what I'd need to change to try out your test build?

[2015-09-25 21:04] mvalipour commented on #224
@kirk-marple I'm preparing a PR to be hopefully be merged into xbehave, however you are welcome to use my unofficial version for now.

There is a test project in my repo which contains the calculator example. And yes, that attribute has been added on my repo to hack around, however would change on the finished version.

https://github.com/mvalipour/xbehave.dnx.test/tree/master/src/XBehave.test.dnx

[2015-09-25 21:26] kirk-marple commented on #224
@mvalipour Thanks, if this is being worked on, I'll wait for the beta of xbehave, I guess.  I'd prefer not to use the hacked attribute for now.

@adamralph Adam, is there any ETA on when you may have a beta ready?  We really want to move to Xbehave ASAP, but are using DNX projects.  I have some tests built, but no way to run them yet :)

[2015-09-26 06:33] adamralph commented on #224
@kirk-marple it depends how soon @mvalipour can send the PR :smile:

[2015-10-02 15:09] GraemeBradbury opened #271 "Scenarios are not run when using xUnit.net 2.1"
**Reproduction steps**
Install xBehave 2.0.0
Upgrade xUnit to 2.1.0

**Description**
On upgrading xunit from 2.0.0 to 2.1.0 all xBehave `[Scenario]` exhibit some/all loss of information depending on test runner used.

Visual Studio runner (VS 2013 Update 5) -> failed to discover any tests.
ReSharper runner (R#9.2 xUnit Runner 2.2.8)-> discovered the method marked with `[Scenario]` but marked it as

[2015-10-02 15:12] adamralph commented on #271
Woah! Thanks for reporting.

@bradwilson does anything immediately come to mind?

[2015-10-02 15:41] bradwilson commented on #271
Nothing off the top of my head...

[2015-10-02 17:57] adamralph commented on #271
I've successfully reproduced the problem by upgrading the samples to xunit 2.1 - https://github.com/adamralph/xbehave.net-samples/tree/xunit-2.1

[2015-10-03 10:35] adamralph commented on #271
I think I've gotten to the bottom of this. I ran the console runner against the samples with `-diagnostics` and I got:

This means there is a missing binding redirect for `xunit.execution.desktop`. Now, that makes sense, since, in xunit 2.0, `xunit.execution.desktop` is not referenced. Only in xunit 2.1 is it added as a reference, so NuGet doesn't know that a binding redirect should be added. If I

[2015-10-03 10:38] adamralph commented on #271
@GraemeBradbury as a temporary workaround, you can manually add a binding redirect for `xunit.execution.desktop`. NuGet should already be doing this for `xunit.core`.

[code]

[2015-10-03 12:26] adamralph commented on #271
I'm going to push out a 2.0.1 patch ASAP which adds a reference to xunit.extensibility.execution. This should force NuGet to recognise that a binding redirect is required when upgrading xunit from 2.0 to 2.1 and it should fix this problem.

[2015-10-04 16:48] adamralph commented on #271
@GraemeBradbury I've just pushed 2.0.1-beta001-build598 to NuGet, can you please try it out to see if it solves the issue?

[2015-10-05 09:31] GraemeBradbury commented on #271
Works for me :+1:
:shipit:

[2015-10-05 11:07] adamralph commented on #271
Awesome, thanks. 2.0.1 coming up shortly...

[2015-10-05 11:12] adamralph opened #275 "2.0.1 release"
**Ready** when all other issues forming part of the release are **Done**.
- [x] run code analysis in VS in _Release_ mode and address violations (send a regular PR which must be merged before continuing)

---
- [x] RC test update in samples
  - [x] console - console output + html
  - [x] VS runner
  - [x] msbuild
  - [x] testdriven.net
  - [x] R#
  - [x] ncrunch
- [x] RC test update in projects

[2015-10-05 12:33] adamralph commented on #275
https://twitter.com/adamralph/status/651012200178561026

[2015-10-05 12:35] adamralph commented on #271
https://www.nuget.org/packages/Xbehave/2.0.1
https://github.com/xbehave/xbehave.net/releases/tag/2.0.1

Thanks @GraemeBradbury and @bradwilson for all your help with this.

[2015-10-05 12:36] #271 closed, assigned to adamralph

[2015-10-05 13:02] #275 closed, assigned to adamralph

[2015-10-13 12:08] mvalipour commented on #224
PR: #279

[2015-10-21 05:59] adamralph opened #281 "move chat to Gitter"
- [x] change readme.md
- [x] change website
- [x] change JabbR topic

[2015-11-04 23:28] georgehemmings commented on #186
Hi @adamralph

Is `BeforeAfterFeatures` possible yet?

[2015-11-05 09:51] adamralph commented on #186
@georgehemmings I'm afraid not.

Perhaps the solution is to use xunit 2.0's [Collection Fixtures](https://xunit.github.io/docs/shared-context.html#collection-fixture) feature. This should work seamlessly with classes containing xbehave scenarios.

[2015-11-05 10:11] georgehemmings commented on #186
Thanks, I will look into collections.

[2015-11-12 09:59] mvalipour commented on #224
@adamralph It's been a while since the PR, do you have any plans for merging?

[2015-11-12 11:55] Eli-Gold opened #282 "Test explorer not discovering Scenario with dnx46"
# How to reproduce
## Global.json

[code]
## Project.json

[code]
## Test class

[code]
## Expected output in Test Explorer

Class1.FailingTest
Class1.PassingTest
Class1.Addition
## Actual output

Class1.FailingTest
Class1.PassingTest

The scenario is not discovered by the test explorer.
Am I missing something ?

[2015-11-12 17:03] adamralph commented on #224
@mvalipour I had a brief look but I haven't had time to look in detail. The addition of dotnet TFN support is quite a major change and I don't really know exactly how things should look without spending a lot more time on it. Your PR is hugely appreciated, please don't take the delay in merging as a lack of appreciation. I'm hoping to get enough time in December to not only merge your PR but also

[2015-11-12 17:05] adamralph commented on #282
@Eli-Gold thanks for raising this. Currently, xbehave does not support DNX, but it is planned. Please follow this issue for the latest news on that - https://github.com/xbehave/xbehave.net/issues/224

[2015-11-12 17:05] #282 closed, assigned to nobody

[2015-11-12 22:12] mvalipour commented on #224
@adamralph not at all, I would look forward for that to happen.

[2015-11-14 11:13] chrisalexander opened #283 "A step expression which assigns a non-completed task results in a hanging test"
Hello everyone

I just wrote a few basic xBehave tests under .NET 4.6 for the first time and noted that my tests were behaving unexpectedly. I am using the Visual Studio runner and I observed that the tests were all running to completion, but the test run was not actually completing. In the Test Explorer I had a "cancel" button and code coverage was not run, etc.

I think I have narrowed this down

[2015-11-19 12:19] adamralph commented on #283
@chrisalexander thanks for raising this! I'm rather swamped right now but I'll take the time to digest this ASAP.

[2015-11-22 13:08] #267 closed, assigned to adamralph

[2015-11-24 09:44] chrisalexander commented on #283
@adamralph No problem, I just thought it might be worth at least documenting it somewhere, so that if someone else sees this behaviour they at least have a workaround. As I said I'm not all that sure if there is much Xbehave can do about it, but then there may be something you can think of. Cheers!

[2015-11-24 21:01] brunobertechini commented on #271
I am having the same issue on TFSBuild for a Test project using xunit, binding redirect did not work.

Build Output

[code]

Build Log

[code]

Cheers

Bruno

[2015-11-25 02:40] bradwilson commented on #271
Your NuGet package manager inside Visual Studio is (by now, significantly) out of date and needs to be upgraded.

[2015-11-27 10:05] adamralph commented on #271
@brunobertechini the issue you are seeing is not the one that was closed by this issue.

As @bradwilson says, you just have an out of date NuGet client.

[2015-11-28 08:34] adamralph commented on #283
hi @chrisalexander, I see what you mean. I ran your gist and observed the same results.

xUnit.net itself suffers from an equivalent problem:

[code]

but of course, this would be a bizarre thing to write, whereas the case you demonstrate with an xBehave.net step is a very natural thing to write.

Right now, I can't think of any way to prevent this, nor to guide people away from it via the API. Th

[2015-11-29 13:55] chrisalexander commented on #283
@adamralph Thanks for taking a look, good to confirm I'm not going crazy :-)

I suspected that some kind of docs (obviously searchable) would be the likely outcome; the only other thoughts being a somewhat contrived and convoluted combination of waiting for all tests to run except ones which returned tasks and logging a warning to the user that this may have happened, but this could provide false

[2015-11-29 15:03] jaredpar commented on #283
This feature is expression bodied members and only affects member declarations: most notably property and method bodies.  It allows the body to be simplified from a braces and a return statement to a single expression.  For example:

[code]

The code called out in the gist though is more of this form

[code]

That is a expression statement which appears to be calling an extension method on `string

[2015-11-30 16:30] adamralph commented on #283
@jaredpar thanks for chiming in. So it seems that the reference to .net 4.6 is a red herring. This has been a problem ever since the introduction of async steps to xbehave. I'd like to test and verify this but it's not so easy to lay my hands on a pre-.net 4.6 machine. Anyway, I believe you :wink:. In retrospect it would be quite an odd thing if this wasn't the behaviour since the introduction of

[2016-01-04 08:26] iamkoch opened #285 "AutoFixture AutoData and Scenario with Example attribute cause double test run"
Not sure if anyone else has experienced this or even whether this is the right repository, but hoping for some feedback on both.

I have a custom AutoData attribute on my Scenario that gives me composed instances of my core domain. I also wish to use the Example attribute to save duplicating tests, meaning I have a test that looks like this

[code]

but experience two tests running, one with the c

[2016-01-05 10:27] adamralph commented on #285
hi @iamkoch, what behaviour would you expect in this case?

I'm not familiar with `DomainAutoDataAttribute` (which library is that from?) but, assuming it also derives from `DataAttribute` as does `ExampleAttribute`, then I would expect exactly the behaviour you describe. Two test runs, with one run with data coming from the `DomainAutoData` attribute, and another run coming from the `Example` att

[2016-01-05 11:46] iamkoch commented on #285
Hi Adam

DomainAutoData is my own attribute - it extends AutoData from Mark Seeman's Autofixture.

Your explanation makes perfect sense now and I can see that I need to make a custom Example attribute that extends my AutoData attribute and this would resolve the issue.

Thanks for the quick response

[2016-01-05 11:46] #285 closed, assigned to adamralph

[2016-01-05 15:18] adamralph commented on #285
@iamkoch great!

I'd be very interested to see this in action if it's something you could share. It sounds like good material for a blog post or similar.

[2016-01-05 15:21] iamkoch commented on #285
Hi Adam

I've just got this working by extending my own AutoData attribute and using some funky specimen builder logic to pull out the params based on the Position property of the Parameter.

I'll get a blog post up and link it here if anyone hits this issue in the future.

[2016-01-06 10:26] adamralph commented on #224
for reference: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/standard-platform.md

[2016-01-09 18:47] adamralph commented on #283
Shooting in the dark here, but I'm wondering if there is a way to see if the expression was marked with `async`. In the naive assumption that we'd only want to await step expressions which are marked with `async`, this could be a solution.

[2016-01-09 20:53] jaredpar commented on #283
There is no supported way.  It's likely if you dug into a delegate object you could infer that `async` was used at the creation site using some heuristics.  But those are subject to, and often do, change.

[2016-01-09 20:57] adamralph commented on #283
Thanks for chiming in. I guess adding some docs is the only way then.

[2016-01-09 21:58] adamralph commented on #283
@danielmarbach thanks for chiming on Twitter, much appreciated!

[2016-01-09 21:59] adamralph commented on #283
For reference: https://twitter.com/adamralph/status/685896132183068672

[2016-01-10 08:17] adamralph commented on #155
@mat-mcloughlin did you make any progress with this?

[2016-01-10 08:21] adamralph commented on #196
I think this will require a breaking change in the Sdk namespace.

[2016-01-10 08:53] adamralph commented on #151
Note that this seems to be being added into `DataAttribute` in xunit 2.2 - https://github.com/xunit/xunit/pull/708

[2016-01-11 22:36] thomaslevesque opened #286 "Propagate the logical call context between steps"
As discussed in FakeItEasy/FakeItEasy#575.

This scenario fails:

[code]

I think the call context should be propagated between steps, otherwise there are many real-world scenarios (e.g. any scenario with thread or task affinity) that can't be tested with xBehave.

I copied my analysis from the PR mentioned above:

[2016-01-18 10:30] mat-mcloughlin commented on #155
I totally forgot I'd started this.

Let me come back to you when I have a dig through my repos as I know I was close. Its just I'm a little busy starting a new job and all :)

[2016-01-26 18:10] adamralph commented on #286
I agree that all the steps in a scenario should execute under the same context. The main challenge is going to be to figure out how to properly weave this into [the magic of the step body invocation](https://github.com/xbehave/xbehave.net/blob/7c49a81af810ee7a9902ffea6008ed7a046d1f2a/src/Xbehave.2.Execution.desktop/StepInvoker.cs#L60-L90).

[2016-01-26 18:12] adamralph commented on #286
For my own reference - http://blogs.msdn.com/b/pfxteam/archive/2012/06/15/executioncontext-vs-synchronizationcontext.aspx

[2016-02-10 08:16] adamralph commented on #286
I'm having absolutely no luck getting this to work :confounded:

I've written a [failing test](https://github.com/adamralph/xbehave.net/commit/3adb1ee0c9044b76bbd7f0b1ef25cffb28fec7ba) and made a [feeble attempt](https://github.com/adamralph/xbehave.net/commit/538e43fdcc28f6b7e3db10a4fa8aaef518aba11d) at making it green but I keep hitting walls/going round in circles.

Help me async experts...

![

[2016-02-10 08:42] danielmarbach commented on #286
welcome to [danger of thread local land](http://particular.net/blog/the-dangers-of-threadlocal)

[2016-02-10 08:45] adamralph commented on #286
@danielmarbach the problem isn't thread local.

Thread local is only used in xbehave when registering the steps, and for this reason, xbehave scenarios themselves must not be written as async methods (I'm planning a Roslyn analyzer to warn against this). The steps themselves however, can be async (and in fact sync steps are wrapped as async) and during invocation there is no use of thread local.

[2016-02-10 08:50] danielmarbach commented on #286
You don't understand my point (and I failed to express it). My point is not `ThreadLocal` as a usage. It is about data ambient to the current Thread. With async that changes completely. In short:

CallContext can't be properly used with async code. Microsoft itself has recommended against using CallContext for anything except remoting (the corresponding connect link is down unfortunately). The cal

[2016-02-10 08:51] danielmarbach commented on #286
The only work around I see currently is to introduce a logical call context like highlighted in my blog post I linked above. here is the direct link

http://blog.stephencleary.com/2013/04/implicit-async-context-asynclocal.html

[2016-02-10 08:54] danielmarbach commented on #286
Since xunit 2 moves to an async model internally and you as well in xbehave major I'd say close as won't fix because CallContext is not intended to be used under async code. Any trickery you apply might hunt you down in unforeseen ways

[2016-02-10 08:58] danielmarbach commented on #286
Sorry I misread the code example above. @thomaslevesque is already using

LogicalSetData/LogicalGetData

https://visualstudio.uservoice.com/forums/121579-visual-studio-2015/suggestions/2698599-add-an-async-compatible-logical-call-context

and they work with .NET 4.5 in combination with async/await. The statements I made above are only true for prio .NET 4.5 behavior.

[2016-02-10 09:01] adamralph commented on #286
Yep, xbehave 2.0 is .NET 4.5 only.

[2016-02-10 09:05] thomaslevesque commented on #286
I had a few ideas about how to do this; I'll try to take a closer look later today.

[2016-02-10 10:06] danielmarbach commented on #286
![image](https://cloud.githubusercontent.com/assets/174258/12944284/62cd21ac-cfe6-11e5-94a6-552dd7b2dd12.png)

[2016-02-10 10:21] adamralph commented on #286
Wow! With no changes?

[2016-02-10 10:25] danielmarbach commented on #286
Made a few changes. But now comes the quiz question:

What should the behavior be with:

[code]

[2016-02-10 10:40] adamralph commented on #286
In my naivety, I would say it should also work.

How do the yields change things?
On 10 Feb 2016 11:25 am, "Daniel Marbach" notifications@github.com wrote:

[2016-02-10 10:42] danielmarbach commented on #286
Here is the ugly approach which works with sync delegates. Executing the body in an async void delegate is kinda ugly but should work since we have the surrounding context which intercepts the delegates and pumps them

https://github.com/danielmarbach/xbehave.net/tree/286-logical-call-context-ex

[2016-02-10 10:43] danielmarbach commented on #286
The scenario described in https://github.com/xbehave/xbehave.net/issues/286#issuecomment-182297575 doesn't work

[2016-02-10 11:33] adamralph commented on #286
Wow, nice work!

For some reason I couldn't reconcile myself with the
`ExecutionContext.Run()` signature and the need to execute the async body.
I never thought of executing the body as `async void` but, as you say, that
works due to the custom sync context from xunit. I also didn't realise I
could pass a null context initially.

It's a shame it doesn't work for async steps but, as @damianh is
sug

[2016-02-10 11:51] danielmarbach commented on #286
Yes it is a can of worms

[2016-02-10 19:54] bradwilson commented on #286
Just to verify: `CallContext.LogicalGetData` and `CallContext.LogicalSetData` are the correct way to do this on .NET 4.5.

.NET 4.6 ships with an `AsyncLocal<T>` that is implemented in terms of internal stuff, so looking at its internal implementation isn't necessarily helpful. If you look at [Microsoft.VisualStudio.Threading](https://www.nuget.org/packages/Microsoft.VisualStudio.Threading/), you'

[2016-02-10 20:06] adamralph commented on #286
@bradwilson thanks for chiming in. That's interesting. I can only guess that setting the NSub `SubstitutionContext` in your forked package won't propagate across xbehave steps either.

This issue was driven by [a proposal to use logical call context inside FakeItEasy](https://github.com/FakeItEasy/FakeItEasy/pull/575) in, effectively, the same way as you did in your branch of NSub. My current stan

[2016-02-10 20:36] thomaslevesque commented on #286
Ideally, it should also work, but I don't think it's possible to make it work. If the steps are async, the copy-on-write behavior of the logical context is used, which means that any change made in a step after an `await` will never be visible to the caller (changes made _before_ the await will be visible)... As much as I'd like this to be fixed, I think it's a dead end.

[2016-02-10 23:48] bradwilson commented on #286
You're worried for naught, IMO.

Flowing execution context is something you only need to do when you're writing your own by-hand custom synchronization context with custom worker threads, like we did for [max concurrency](https://github.com/xunit/xunit/blob/10ac1bc821b28f9cc310a9c448f173760f9b05d6/src/xunit.execution/Sdk/MaxConcurrencySyncContext.cs). AFAIK, we're the only ones who've ever done th

[2016-02-16 06:53] adamralph commented on #286
@bradwilson the problem is that it currently doesn't work in xbehave so I must have to do _something_ to make it work.

I'm using the `AsyncTestContext` from xunit to [invoke the step bodies](https://github.com/xbehave/xbehave.net/blob/7c49a81af810ee7a9902ffea6008ed7a046d1f2a/src/Xbehave.2.Execution.desktop/StepInvoker.cs#L65-L86) so, as you suggest, I would have expected it to Just Work™, but for

[2016-02-16 07:26] i3arnon commented on #286
@adamralph what's wrong with what @danielmarbach suggested?

It's true that it if the steps themselves call async methods the changes they make to the `LogicalCallContext` won't affect the next steps but that's the case for all async methods because of the copy-on-write semantics of the `LogicalCallContext`.

This async case wouldn't work with xbehave but it wouldn't work with anything else either

[2016-02-16 07:34] adamralph commented on #286
@i3arnon my knowledge of how this is all supposed to work is probably the limiting factor here.

I must be missing something. Is it true that the following won't work because of copy-on-write?

[code]

[2016-02-16 08:01] i3arnon commented on #286
@adamralph No, it would, as the copy-on-write behaviour is relevant when calling other async methods.

This, however, won't work:

[code]

Which I guess is more similar to running each step separately.

[2016-02-16 08:06] bradwilson commented on #286
@adamralph wrote:

The copy-on-write behavior comes from the FSM that's built by the compiler for async methods. The intent is that changes inside an async method would not leak back out into the caller. In the example you give, all of those calls to CallContext are using the same CallContext because they're in the same method.

This should fail, because of the copy-on-write behavior:

[code]

Fai

[2016-02-16 08:35] adamralph commented on #286
@i3arnon @bradwilson thanks for the explanations, I believe I understand the behaviour now.

It's becoming clear that the concept of xbehave steps is at odds with the behaviour of the logical call context. With xbehave steps, the intended abstraction is that the steps are, effectively, "labelled parts" of a single logical method, rather than independent methods.

This means that this xbehave scena

[2016-02-16 10:21] bradwilson commented on #286
Yes, I believe you're right. Each step there is an async method (lambda) with its own copy-on-write behavior. I'm pretty sure there's nothing you can do about that, because that behavior is being enforced by the compiler.

[2016-02-16 13:03] thomaslevesque commented on #286
I agree with @bradwilson here, I don't think it's possible to make it work for async steps. On the other hand, the `UsingLogicalDataWithAsync` example is very contrived, and real-world scenarios are unlikely to run into this problem (how often do you write an async step that makes changes to the logical context? me, never...).

So I think it's worth implementing the fix even if it supports "only"

[2016-02-16 14:44] i3arnon commented on #286
I think it's probably possible using internal methods in the framework.
The question is: do you want to go down this rabbit hole...?

[2016-02-16 16:33] adamralph commented on #286
@i3arnon no, not really :wink:

[2016-02-16 16:33] adamralph commented on #286
@thomaslevesque problems arise when some framework (e.g. FakeItEasy) [starts using logical call context internally](https://github.com/FakeItEasy/FakeItEasy/pull/575) without it being obvious to the test writer, e.g.

[code]

This appears to be fine, but it isn't, because FakeItEasy is using logical call context internally in the call to `Fake.CreateScope()`, and that exists in an async step.

[2016-02-16 16:48] thomaslevesque commented on #286
True, but would you naturally write the scenario this way? It would be cleaner to create the scope in its own, non-async step (or perhaps not even in a step, because it's a purely technical artifact, which has nothing to do with the functional requirements)

[2016-02-16 16:56] adamralph commented on #286
@thomaslevesque to be fair, you probably wouldn't be using a mocking library with xbehave in most cases. xbehave is far more useful at a black box behavioural level, rather than a white box level where you inject fake objects into things.

Having said that, I have used it at testing levels with fakes involved before. You could do the entire set of assertions in a single step, but then you lose the

[2016-02-16 16:57] adamralph commented on #286
Generally, nothing should really be done in an xbehave method outside the step bodies, it doesn't really make any sense to do so.

[2016-03-10 23:56] adamralph commented on #286
So, in summary, it appears that, thanks to @danielmarbach, we can solve this for [sync steps](https://github.com/xbehave/xbehave.net/issues/286#issuecomment-182307730), but not for [async steps](https://github.com/xbehave/xbehave.net/issues/286#issuecomment-184611668).

The question then is, is it worth supporting this just for sync steps? The solution looks fairly robust, but I'm loathed to add t

[2016-03-13 15:24] #281 closed, assigned to adamralph

[2016-03-26 17:30] #286 closed, assigned to adamralph

[2016-04-07 11:47] #154 closed, assigned to nobody

[2016-04-07 11:53] adamralph commented on #145
@bapti I'm going to close this because right now I can't see a compelling reason to have a facility to run something once per set of examples, as opposed to running once for the entire test class (which can be achieved using either a constructor or xunit's `IClassFixture` (`IUseFixture` in xunit 1.x).

[2016-04-07 11:53] #145 closed, assigned to nobody

[2016-04-15 08:36] iam3yal opened #289 "Adding .r(...) function as syntactic sugar to .OnFailure(RemainingSteps.Run)"
Not sure if it makes sense but I've added it to my own project and it looks good. :)

[2016-04-15 21:14] adamralph commented on #289
hi @eyalsk, thanks very much for the raising this.

I'm not sure that it makes sense to add this to the library. Ultimately, we could add one character shorthand synonyms for many parts of the API, but they would be rather cryptic to anyone not familiar with them, and if all libraries did this, we'd end up with code full of one character method calls. :wink:

I realise that xbehave is already some

[2016-04-15 23:27] iam3yal commented on #289
Yeah, I completely agree with you! thank you for elaborating! I was skeptical myself so it's fine haha.. :)

Keep up the good work! :)

[2016-04-15 23:27] #289 closed, assigned to nobody

[2016-04-15 23:35] adamralph commented on #289
Thanks @eyalsk, I'll do my best! :smiley:

[2016-04-23 10:26] adamralph commented on #224
Putting this on hold for now.

There's just too much churn coming in RC2 to spend any time on this now. Most of the effort would probably be wasted.

[2016-04-23 10:34] adamralph opened #290 "Deprecate f() and _()"
`x()` should be used instead.

`f()` and `_()` will be deprecated in 2.x and removed in 3.0.0.

[2016-04-23 10:38] adamralph commented on #151
Waiting on xunit 2.2 before implementation (if any is even needed).

[2016-04-23 10:39] adamralph commented on #231
Not sure if this is needed in light of CoreCLR.

[2016-04-27 11:03] ursenzler commented on #290
Why do you want to deprecate them? Can I still use them by making my own extension method?

[2016-04-27 11:19] adamralph commented on #290
@ursenzler it's to get rid of redundant clutter. xbehave only really needs to provide one method and `x` seems like the natural choice. The others are a matter of taste. As you say, you can create your own synonyms for `x` using [extension methods](https://github.com/xbehave/xbehave.net/wiki/Defining-a-custom-step-method).

[2016-04-27 13:21] ursenzler opened #291 "Formatting of array arguments"
In `XBehave.Test.Acceptance.ExampleFeature` is a spec that checks whether array arguments are formatted correctly (showing the values instead of System.Array).
This Test is encapsulated with an `#if V2`.

When I use xBahave in my real project, arrays are not formatted correctly. Is this test ever executed?
I use xBehave.Core 2.0.1 in my project.

I'm confused?!?

[2016-04-27 13:36] ursenzler commented on #291
Okay, I unconfused myself. The check runs as expected. Looked in the wrong project (linked projects confuse me :-) )

But I don't get why the arrays in my project are not formatted correctly.
I have a .Net 4.6.1 project that references
`<package id="Xbehave.Core" version="2.0.1" targetFramework="net461" />`

Which results in a reference to `packages\Xbehave.Core.2.0.1\lib\portable-net45\Xbehave.Ex

[2016-04-27 14:06] adamralph commented on #291
Nothing really springs to mind. I guess I'd need to get my hands on an isolated repro of the bug...

[2016-04-27 14:15] ursenzler commented on #291
The changes are not yet included in the release, they were made shortly after release 2.0.1.
I simply assumed they had to be in there because it was such a long time ago %-)

[2016-04-27 14:15] #291 closed, assigned to adamralph

[2016-04-27 14:16] adamralph commented on #291
@ursenzler yes, I missed that too. I'll continue the thread over at https://github.com/xbehave/xbehave.net/issues/267

[2016-04-27 14:22] adamralph commented on #267
So, it is indeed a little embarrassing that this hasn't been released yet. The reason was that 2.1 was always intended to be a release which added support for DNX/CoreCLR/dotnet/whatever-it's-called-this-month, in line with xunit 2.1, to keep the version numbers aligned. That work has been put [on hold](https://github.com/xbehave/xbehave.net/issues/224#issuecomment-213713639).

Given that the firs

[2016-04-27 14:36] ursenzler commented on #267
woohoo!

[2016-04-27 17:33] adamralph commented on #266
https://twitter.com/xbehavenet/status/725377198648098816

[2016-04-27 17:36] adamralph commented on #267
Thanks @ursenzler! Look out for your name in the release notes :trophy:

https://www.nuget.org/packages/Xbehave/2.1.0
https://www.nuget.org/packages/Xbehave.Core/2.1.0
https://github.com/xbehave/xbehave.net/releases/tag/2.1.0
https://twitter.com/xbehavenet/status/725377198648098816

[2016-04-27 17:44] adamralph opened #296 "2.3.0 release"
**Ready** when all other issues forming part of the release are **Done**.

- [x] begin RC
  - Repos maintained by others:
    - https://github.com/agartee/Brickweave/pull/1
    - https://github.com/config-r/config-r/pull/299
    - https://github.com/DSilence/MiniPie/pull/54
    - https://github.com/KallynGowdy/ReactiveUI.Routing/pull/13
    - https://github.com/scriptcs/scriptcs/pull/1263
    - ht

[2016-04-27 17:52] #266 closed, assigned to adamralph

[2016-05-09 20:04] adamralph commented on #35
@togakangaroo I'm closing this issue since the solution will have to exist either reflectively in ApprovalTests itself or in a third party package providing integration between ApprovalTests and xbehave. Thanks for your investigation into this, which has been linked from the FAQ.

[2016-05-09 20:04] #35 closed, assigned to nobody

[2016-05-11 17:34] lhaussknecht commented on #223
What do you like to see here? Best practice seems to me to factor out all of your business logic into a pcl project, which can be easily tested.

[2016-05-11 18:05] adamralph commented on #223
@lhaussknecht the idea here was to provide support for the Xamarin TFN's to match those supported in xunit 2.x. Currently, in xunit 2.1, those are provided by a single "dotnet" DLL which happens to be a Profile259 PCL project.

However, all of this is set to change with .NET Core so I don't think it's worth investing any time in this. I also think that, ultimately, support for the Xamarin platform

[2016-05-11 18:05] #223 closed, assigned to nobody

[2016-05-11 18:08] adamralph commented on #231
This is all set to change with .NET Core so I don't think it's worth investing any time in this. I also think that, ultimately, support for all platforms will be provided via support for the relevant [.NET Standard](https://gist.github.com/davidfowl/8939f305567e1755412d6dc0b8baf1b7), so I don't think explicit support for anything other than net45 will ever be a thing in xBehave.net. For that reaso

[2016-05-11 18:08] #231 closed, assigned to nobody

[2016-05-11 18:08] adamralph commented on #222
This is all set to change with .NET Core so I don't think it's worth investing any time in this. I also think that, ultimately, support for all platforms will be provided via support for the relevant [.NET Standard](https://gist.github.com/davidfowl/8939f305567e1755412d6dc0b8baf1b7), so I don't think explicit support for anything other than net45 will ever be a thing in xBehave.net. For that reaso

[2016-05-11 18:08] #222 closed, assigned to nobody

[2016-05-11 18:09] adamralph commented on #221
This is all set to change with .NET Core so I don't think it's worth investing any time in this. I also think that, ultimately, support for all platforms will be provided via support for the relevant [.NET Standard](https://gist.github.com/davidfowl/8939f305567e1755412d6dc0b8baf1b7), so I don't think explicit support for anything other than net45 will ever be a thing in xBehave.net. For that reaso

[2016-05-11 18:09] #221 closed, assigned to nobody

[2016-05-11 18:09] adamralph commented on #220
This is all set to change with .NET Core so I don't think it's worth investing any time in this. I also think that, ultimately, support for all platforms will be provided via support for the relevant [.NET Standard](https://gist.github.com/davidfowl/8939f305567e1755412d6dc0b8baf1b7), so I don't think explicit support for anything other than net45 will ever be a thing in xBehave.net. For that reaso

[2016-05-11 18:09] #220 closed, assigned to nobody

[2016-05-11 18:10] adamralph commented on #224
This is all set to change with .NET Core so I don't think it's worth investing any time in this. I also think that, ultimately, support for all platforms will be provided via support for the relevant [.NET Standard](https://gist.github.com/davidfowl/8939f305567e1755412d6dc0b8baf1b7), so I don't think explicit support for anything other than net45 will ever be a thing in xBehave.net. For that reaso

[2016-05-11 18:10] #224 closed, assigned to adamralph

[2016-05-20 05:24] enzian commented on #290
Hey, I would take this on, anybody mind?

[2016-05-20 05:46] adamralph commented on #290
@enzian no objections at all, thank you very much!

I think it would be nice if the deprecation messages looked something like this https://github.com/config-r/config-r/blob/e24e1927b2383a5524c91e4d117c986ffc015f8e/src/ConfigR/ConfigExtensions.cs#L36

This deprecation would be released in xbehave 2.2.0.

[2016-05-20 08:03] #290 closed, assigned to enzian

[2016-05-29 19:00] adamralph opened #298 "Source stepping"
for reference, https://github.com/FakeItEasy/FakeItEasy/pull/736

[2016-06-07 09:29] #236 closed, assigned to adamralph

[2016-08-21 01:59] blairconrad opened #300 "Support .NET Standard 1.1 (including .NET Core 1.0 onwards)"
I'm willing to take a stab.

[2016-08-21 10:11] adamralph commented on #300
@blairconrad thanks for raising this. Please be my guest!

[2016-09-25 00:57] adamralph opened #315 "Update CONTRIBUTING.md"
There are several out of date things in there.

[2016-09-25 20:10] adamralph commented on #224
Replaced by #300

[2016-10-11 11:32] adamralph opened #328 "2.1.3 release"
**Ready** when all other issues forming part of the release are **Done**.
- [x] ensure patches have been merged from master to dev
- [x] run code analysis in VS in _Release_ mode and address violations (send a regular PR which must be merged before continuing)
- [x] smoke test NuGet package
- [x] create release in GitHub UI **on master** including releaseNotes, mentioning non-owner contributors, i

[2016-10-11 11:34] adamralph opened #329 "ITestOutputHelper does not work in xBehave.net steps"
Reported by @RagingKore

[2016-10-11 12:07] #329 closed, assigned to adamralph

[2016-10-11 15:22] adamralph commented on #328
https://twitter.com/adamralph/status/785863033948147712

[2016-10-11 15:24] adamralph commented on #329
https://www.nuget.org/packages/Xbehave/2.1.3
https://github.com/xbehave/xbehave.net/releases/tag/2.1.3
https://twitter.com/adamralph/status/785863033948147712

Thanks @RagingKore for reporting this bug! Look out for your name in the release notes! 🏆

[2016-10-11 15:25] #328 closed, assigned to adamralph

[2016-10-11 19:52] adamralph opened #342 "AppDomainUnloadedException when test runner exits"
![image](https://cloud.githubusercontent.com/assets/677704/19286182/ffb15c28-8ffc-11e6-904a-d070934349c2.png)

The first run is with 2.1.0, the second with 2.1.3.

[2016-10-11 19:56] adamralph opened #343 "2.1.4 release"
**Ready** when all other issues forming part of the release are **Done**.
- [x] ensure patches have been merged from master to dev
- [x] run code analysis in VS in _Release_ mode and address violations (send a regular PR which must be merged before continuing)
- [x] smoke test NuGet package
- [x] create release in GitHub UI **on master** including releaseNotes, mentioning non-owner contributors, i

[2016-10-11 20:15] adamralph commented on #342
https://www.nuget.org/packages/Xbehave.Core/2.1.4
https://github.com/xbehave/xbehave.net/releases/tag/2.1.4
https://twitter.com/adamralph/status/785937145626177536

[2016-10-11 20:15] #342 closed, assigned to adamralph

[2016-10-11 20:15] #343 closed, assigned to nobody

[2016-10-16 12:53] iam3yal opened #349 "A minor issue related to the formatting of the tests"
Hey,

I'm not sure whether this relates to xbehave, xunit or ReSharper itself but at times I have tests like this:

[code]

Now, at the display level of the unit test runner I get the following result:

[code]

But I expect to get the following result:

[code]

[2016-10-16 13:11] adamralph commented on #349
hi @eyalsk, thanks for raising this.

Currently xbehave passes the exact text that you declare as the name of the step to xunit as the test "display name". If you use a multi-line literal as you have, then the line breaks and indents are part of that string. xunit then converts this into a C#-style string, so an end of line carriage return (CR) plus line feed (LF) becomes "\r\n".

We could introdu

[2016-10-16 13:20] iam3yal commented on #349
@adamralph Well, yeah, I know I can do that but I really, really prefer not to do it, I mean the whole point is to keep things legible and as _close_ as possible to the source code. :)

p.s. thanks for the quick reply!

[2016-10-16 13:40] adamralph commented on #349
@eyalsk fair enough, it is quite ugly. 😄

The only thing I can think of then is to introduce string cleansing. I'm not against introducing this to xbehave, but before doing that, I want to make sure all the possible local solutions are discounted first so I hope you'll indulge me while I throw some crazy suggestions in here first.

I usually avoid regex, but how about this?

[code]

[2016-10-16 14:00] iam3yal commented on #349
@adamralph Well, this can work but there are few issues with it.
1. People might not understand it so it means I'll have to document it.
2. People might forget to add it so I'd have to write a Roslyn analyzer for it or something similar to make sure it's enforced.
3. I'd have to have this method in every project or make a shared project for it and reference it.

I can probably somehow hook to xbeh

[2016-10-16 14:08] adamralph commented on #349
@eyalsk those are all good points.

I'm starting to think this should indeed be built into xbehave. Can you think of any downside to passing every single step name through a cleansing method before using it in the test display name?

I guess one point is that there will be a performance hit but I'd hope it would be negligible, specially if we compile the regex as a static member.

The only other c

[2016-10-16 15:39] iam3yal commented on #349
@adamralph Well, I can't really see any downsides to it and to be honest, the _name_ of the tests should never be formatted much like functions aren't formatted and people shouldn't rely on it, it doesn't make sense simply because the underlying tech, specifically, xunit and ReSharper don't account for it and you end up looking at unreadable test names.

I don't think it will have such a huge impa

[2016-10-16 17:19] iam3yal commented on #349
@adamralph

I've made a simple benchmark, you can double check it and see whether I forgot something. :)

[code]

[2016-10-16 20:40] adamralph commented on #349
@eyalsk it seems imperative is the clear winner. Thanks for vindicating my usual reluctance to reach for regex 😉

BTW, in this specific case, my feeling is that you are mixing together what I would normally consider to be at least two separate steps. The problem stems from the use of of an assert which also executes the action. My recommendation would be to use xunit's `Record.Exception` and split

[2016-10-16 21:04] iam3yal commented on #349
@adamralph This is pretty neat, didn't know about it, I can certainly do that!

p.s. I have some recursive data structure that I test and it has multiple cases there, can you take a quick look and tell me how would you do it? not sure if it make sense to post it here, maybe in another issue or there's some other way I can contact you? like email or something?

[2016-10-16 23:10] adamralph commented on #349
@eyalsk sure, I can take a look. You can post it in this issue if you want. I'm treating it as a discussion. If we want to pursue any changes in xbehave (such as the step name cleansing), we can spin those off into separate issues. I suggest we hold off on the step cleansing for now, at least until we've examined your use cases a little more.

If there's any code which you'd rather not post public

[2016-10-16 23:18] adamralph commented on #349
BTW - I just noticed that my two step proposal was using a non-existent `element` variable. I've corrected and tidied it a little.

[2016-10-16 23:42] blairconrad commented on #349
Hi. I'd been taking a long time to piece together a comment here, and you've all outpaced me.

I was going to suggest splitting the scenario into steps, as @adamralph has demonstrated.
And I had some other digressions, but I'm left with this:

If the step names are cleaned, then names that include whitespace or control characters will be mangled. (I know, that's the point, but hear me out.)
Perhap

[2016-10-16 23:50] adamralph commented on #349
A very good point @blairconrad. Thanks for chiming in. You succeeded where I failed, in thinking of a use case which would be broken by step name cleansing.

[2016-10-16 23:51] blairconrad commented on #349
No problem. As you know, I'm always happy to argue against a feature or improvement!

[2016-10-17 08:30] iam3yal commented on #349
@blairconrad You're right but we can also add this as an option that is turned off by default, @adamralph what do you think about this?

I don't mind marking some of my tests with `[Scenario(DisplayNameSterilization = true)]` or something similar.

p.s. Here is another test, I'd like your opinion about it because I'm not really happy about it. :)

[code]

[2016-10-17 09:58] blairconrad commented on #349
@eyalsk, of course an off-by-default option is a possibility, but if you're going to go that route, do not 2 of your 3 comments from https://github.com/xbehave/xbehave.net/issues/349#issuecomment-254048631 still apply?
- the option will require documentation, and
- people may forget to use it

Is it enough of an improvement to make it worth your while?

Oh, and if the scenario definitions are goin

[2016-10-17 11:29] iam3yal commented on #349
@blairconrad

Yeah but in this case the context in which you apply the rule is part of the library and not part of the test itself, it's not some arbitrary method that you stuck in the test and you have to go figure what it does, it also reads better, however, enforcing it is kinda an issue but once you have it available as an attribute and like you pointed out it can be applied at the assembly le

[2016-10-17 12:13] blairconrad commented on #349
I've no idea. My team, sometimes.

My team, sometimes. Well, usually whitespace.

Of course, all this is just anecdotal. Like how you were the first person I'd ever heard of who wanted to put non-significant whitespace in a step name. We each have reports of what I'd guess are corner cases.

[2016-10-17 12:15] iam3yal commented on #349
@blairconrad

Yeah, I agree. :)

[2016-10-17 14:41] adamralph commented on #349
@eyalsk this is what I might do with the scenario you posted:

[code]

Generally, if you're using `$"... { ... } ..."` as a step name and putting anything inside `{ ... }` which isn't an `[Example]` value, I'd say that's probably a code smell.

More generally, I'm leaning towards the need for step name cleansing being an edge case which we can usually avoid by revisiting the step names.

[2016-10-17 15:04] iam3yal commented on #349
@adamralph Thanks for the reply, I'd change the tests based on your suggestions.

Can you elaborate farther on this? I don't think I understood your point here. :)

[2016-10-17 15:16] adamralph commented on #349
@eyalsk it's somewhat of a sidebar to this discussion, but see [examples](https://github.com/xbehave/xbehave.net/wiki/Scenarios-with-examples). When using examples, it's reasonable to write `$"Given the number {x}"` as a step name, since having the example value in there is useful.

BTW - I believe this is only of academic interest at this point, but if you _still_ find a need to introduce the cle

[2016-10-17 17:10] iam3yal commented on #349
@adamralph Thank you so much! I really appreciate it.

Keep up the good work!

[2016-10-17 17:11] #349 closed, assigned to nobody

[2016-10-17 17:15] adamralph commented on #349
@eyalsk you're welcome. I'm glad you're enjoying xbehave!

[2016-10-25 18:54] Espartaco opened #351 "Watch values on Debug Session"
Given the example, and assuming the test is more complex, but for example:

[code]

When I debug the test in Visual Studio 2015 insert a breakpoint in line "...x(() => answer = calculator.Add(x, y));...."  and put mouse over X and Y  to see the values, always are zero (0), so I don't know real values and can't  analyze the problem.

[2016-10-25 19:20] adamralph commented on #351
Hi @Espartaco, thanks for raising this.

My guess is that you have put your breakpoint on the entire statement, like so:

![image](https://cloud.githubusercontent.com/assets/677704/19700621/4e6432d6-9af8-11e6-9b2d-26d768db8477.png)

In order to debug a step, you must put the breakpoint on the expression body, like so:

![image](https://cloud.githubusercontent.com/assets/677704/19700637/64fa1a56-9a

[2016-11-22 11:30] adamralph commented on #351
@Espartaco I'm going to assume that my reply has solved your concern. Thanks again for raising this. If you need further help, please don't hesitate to ask again.

[2016-11-22 11:30] #351 closed, assigned to adamralph

[2016-12-08 08:47] CaringDev commented on #298
... grab
Expect PR this weekend

[2016-12-08 09:44] adamralph commented on #298
🎉 thanks!

[2016-12-21 08:27] #298 closed, assigned to CaringDev

[2016-12-21 09:19] adamralph commented on #298
This has been released as a beta: https://www.nuget.org/packages/Xbehave/2.2.0-beta0003-build685

[2016-12-21 09:32] adamralph commented on #298
Added to wiki: https://github.com/xbehave/xbehave.net/wiki/Debugging-scenarios#source-stepping

[2016-12-21 18:59] epitka opened #361 "Re-using steps does not work"
I expected this to work, but it does not as steps do not execute in sequential order. In this case "When" part would be executed first. But wiki page "How can I reuse steps?" suggests that it is approach that would work.

[code]

[2016-12-22 18:33] adamralph commented on #361
@epitka the steps are executed in the correct order.

The important thing to consider is that when the scenario method is executed, the steps are *not* executed. They are collected together and executed after the method has exited. For this reason it is important to never execute any code outside the step expressions.

In the code you posted, you are calling `When.Add(calculator, x,y, answer);`. A

[2016-12-22 18:33] adamralph commented on #361
@epitka and btw, thanks for raising this. 👍

[2016-12-23 15:07] epitka commented on #361
Thanks for thorough explanation, but then the blog entry should be checked as it specifically states that this would work. Or I am not understanding this code?

[code]

[2016-12-23 15:22] adamralph commented on #361
@epitka you are correct, that code will not work. I guess I must not have tested that code before writing that wiki page, which is rather embarassing. 😒

I'll take down that content and replace it later with something that actually works. Thanks for bringing this to my attention! 👍

[2016-12-23 15:23] adamralph commented on #361
Actually, in my defense, I think that code *may* have worked with an earlier version of xbehave (1.x) which IIRC, did execute steps eagerly, as they are defined, rather than collecting them and executing them later.

This is actually an interesting consideration. It may be better to investigate reverting back to that style of eager execution. I'll raise a separate issue for that.

[2016-12-23 15:31] adamralph opened #362 "Execute each step immediately after it is defined"
*Spun off from #361 raised by @epitka*

The [wiki page for reusing steps](https://github.com/xbehave/xbehave.net/wiki/How-can-I-reuse-steps%3F) previously described an alternative method of the form:

[code]

This does not work in 2.x, since the steps are defined while the scenario method is running, and executed afterwards. IIRC this did work in 1.x since each step was executed immediately after

[2016-12-29 09:13] enzian commented on #362
What was the original incentive for moving to deferred execution? (I think I'd be able to do without it!)

[2016-12-29 09:33] adamralph commented on #362
@enzian IIRC I didn't make a conscious decision to change to deferred execution.

xbehave 2.0 was a *complete* rewrite from scratch (due to the complete rewrite from scratch of xunit 2.0). The xbehave 2.0 acceptance tests were carried over from 1.x and immediate execution was not an enforced invariant in 1.x.

Perhaps immediate execution was something that resulted naturally from the xunit 1.x ext

[2017-01-25 15:13] Piotr1215 opened #366 "Testing in ASP.NET Core (.NET Framework 4.6.1)"
Hi,

First, thanks for a great testing support. I enjoy using XBehave a lot :).

I'm in the process of writing a Web API in ASP.NET Core targeting .NET Framework 4.6.1. I would like to use XBehave, but given XBehave NuGet package, when I run the test, then instead of displaying steps names I only get name of the test in the Resharper test runner (the same is for VS Test runner), like so:

![image]

[2017-01-26 22:01] adamralph commented on #366
Hi @Piotr1215, thanks for raising this. Unfortunately, I don't think there's much that can be done about this.

The situation is a little complex, but I'll attempt to explain what's happening here.

When test runners such as Resharper "discover" xunit tests (including xbehave scenarios), they do so by scanning assemblies for the relevant attributes, e.g. `Fact`, `Theory` or `Scenario`. They then i

[2017-01-26 22:07] bradwilson commented on #366
Spot on explanation.

There are other cases where a single test case yields multiple tests other than serialization issues: the user may select to disable pre-enumeration, the data attribute may choose to opt out (imagine feeding data from SQL, for example). The point that Adam is making is 100% right: there is always the possibility of a test case yielding multiple tests (and thus multiple test r

[2017-01-27 11:52] citizenmatt commented on #366
ReSharper already supports adding/removing nodes for theory test cases. It has to, in order to support theories that only enumerate at runtime (Brad's SQL based theories, for example).

However, individual nodes are individual, independent test cases, while the steps Adam's described are not - ReSharper will allow trying to run those steps individually (or even 3 out of 4 steps), which wouldn't wo

[2017-01-27 18:31] adamralph commented on #366
@bradwilson thanks for the confirmation.

@Piotr1215 what this means is that xbehave is operating within the abstractions defined by xunit, so if test runners like ReSharper or the VS runner are not displaying something, e.g. multiple tests belonging to test cases, then we need to investigate those runners to find out why.

@citizenmatt thanks for chiming in.

That's great to hear. In that case, c

[2017-01-27 22:29] Piotr1215 commented on #366
@adamralph , @bradwilson , @citizenmatt thanks a lot for the detailed explanation on how the Xunit and Xbehave tests discovery and test cases execution work in unison with Resharper.

I think this is spot on explanation of the exact problem. Outside of .NET Core Xbehave behaves normally (pun intended ;)), meaning all the test steps are displayed correctly.

Just as a side note, I'm trying to find

[2017-01-28 09:09] adamralph commented on #366
@Piotr1215 thanks for the info. I didn't realise that you only have this problem with .NET Core.

In that case, I'll rephrase my question to @citizenmatt: do you know why @Piotr1215 is seeing this difference between .NET Core and .NET FX? @bradwilson, are you aware of anything in xunit which could be provoking this difference in behaviour?

[2017-01-28 13:11] adamralph commented on #366
@Piotr1215 looking back at your snippets, it's look like you're not actually using .NET Core, you're using .NET Framework 4.6.1 (`net461`). When you say "Outside of .NET Core", what do exactly do you mean?

[2017-01-30 14:58] citizenmatt commented on #366
Tests are enumerated before executing, so it's possible to match and only execute the ones we're interested in. If we can't find them in the enumeration, ReSharper will clean them up from the tree view.

[2017-01-30 15:23] citizenmatt commented on #366
Also, just tested a simple xunit project (not xbehave) for .net core (CoreCLR + .NETFx) with theories and they work as expected, adding nodes under the test method.

[2017-02-02 08:39] Piotr1215 commented on #366
Sorry for confusion, I should have been more precise. My project is ASP.NET Core targeting .NET Framework 4.6.1.

What I mean is that Xbehave works as expected in other project types that are not .NET Core (regardless of the target framework)

@citizenmatt this is correct, Xunit works perfectly fine with .NET Core targeting both netcoreapp or net461. The problem however remains with .NET Core app

[2017-02-04 10:58] adamralph commented on #366
@Piotr1215 I'm still quite confused regarding the platforms/frameworks involved. Would it be possible for you to publish a solution to GitHub with a minimal reproduction of the problem?

[2017-02-04 11:00] adamralph commented on #366
BTW - @citizenmatt thanks, that makes sense, and thanks for running those tests. I'll see what I can reproduce with xbehave on my end.

[2017-02-07 20:24] Piotr1215 commented on #366
@adamralph sure. I have prepared two projects, one with exact same setup as I have for .NET Core and another one for "normal" .NET for comparison.

https://github.com/Piotr1215/CoreWithBehave

[2017-02-07 20:29] adamralph commented on #366
@Piotr1215 fantastic, thanks! I'll take a look ASAP.

[2017-02-09 18:29] adamralph commented on #366
@Piotr1215 I took a look at https://github.com/Piotr1215/CoreWithBehave but it doesn't contain the two projects shown in the README.md screenshot. It only has one project, CoreWithBehave, and that doesn't contain any tests. Did you forget to push some commits perhaps?

[2017-02-11 10:20] adamralph commented on #361
@epitka I guess this discussion has drawn to a close. Thanks again for raising this, please subscribe to #362 if you'd like to track the progress of that issue.

[2017-02-11 10:20] #361 closed, assigned to nobody

[2017-02-13 11:37] blairconrad opened #368 "restore packages before building"
When I check out a shiny new sandbox (or clean my existing one) and build, I see a failure:

[code]

There's a perfectly good `restore` target in `build.csx` that's not connected to anything. Let's hook it up!

[2017-02-13 11:44] blairconrad commented on #368
Um. We may want to hold off on this. I missed a bit of the instruction:

Although having an orphaned `restore` task still confuses me a bit.

For my education, why not restore each time? Speed?

[2017-02-13 18:10] adamralph commented on #368
Exactly that. This also mimics the raw usage of `dotnet.exe`, i.e. `dotnet restore`, `dotnet build`.

More generally, I'd love to stop using build scripts entirely and just use `dotnet` for the whole workflow, but there are gaps which I'm not sure will ever be sealed, e.g. the sourcelink and nuspec munging that is being done in the build.csx here.

[2017-02-13 19:55] blairconrad commented on #368
Thanks for the chat, and sorry for the issue/PR noise!

[2017-02-13 19:55] #368 closed, assigned to blairconrad

[2017-02-13 19:58] adamralph commented on #368
No problem @blairconrad. I appreciate the intention!

[2017-02-21 20:45] Piotr1215 commented on #366
@adamralph sorry for the confusion, I didn't check in the projects indeed! Fixed now and also cloned the repo locally to be sure all is ok.

[2017-02-25 11:16] adamralph commented on #300
Re-opening to include upgrade to xunit 2.2 RTM.

[2017-02-26 11:04] adamralph commented on #366
@Piotr1215 in my fork of your test repo, I've added [a regular xunit theory](https://github.com/adamralph/CoreWithBehave/blob/d045d8b05f8d4e38adcb5a6bab8dbeb806e556b2/CoreWithBehave.Specs/TestFeature.cs#L31-L46) (with parameters that do not serialise), and the behaviour is exactly the same as the xbehave scenario:

![image](https://cloud.githubusercontent.com/assets/677704/23339106/648e75ec-fc1b-1

[2017-03-01 02:00] citizenmatt commented on #366
I'll take a look as soon as I can. But I'm at a conference this week, so it might take a couple of days.

[2017-04-15 11:00] adamralph opened #371 "Consistent package id's and titles"
## Current

| id           | title                                     |
|--------------|-------------------------------------------|
| Xbehave      | Xbehave                                   |
| Xbehave.Core | xBehave.net [Core Testing Framework]      |
| _xunit_      | _xUnit.net_                               |
| _xunit.core_ | _xUnit.net [Core Unit Testing Framework]_ |

## Proposed

| id

[2017-05-21 08:13] adamralph commented on #366
@citizenmatt did you get a chance to look at this?

[2017-05-21 13:22] citizenmatt commented on #366
Ah, I'd forgotten about this, sorry. And now I'm confused as to what's going on again - can you summarise for me, please? :)

[2017-05-30 13:35] iamkoch commented on #366
To add onto this, it seems that if a single step fails which isn't the last step in the scenario, the test is marked as Ignored / Skipped as a result.

[2017-07-06 03:39] michael-wolfenden opened #372 "Scenarios with examples cause build failures with xunit's new analyzers"
Given the following packages:

[code]

The following code:

[code]

Results in the following build exception:

`xUnit1005 - Fact methods should not have test data`

I assume this is due to xunit's new analyzers which check that tests with the `[Fact]` attribute do not get test data passed to them.

Since`[Scenario]` derives from `[Fact]` the analyzer gets triggered.

[2017-07-06 10:47] adamralph commented on #372
Hmmm... interesting! The rule seems overbearing, since the use of a single attribute to mark scenarios, with or without examples is a deliberate design in xbehave, and I'd argue it's not unreasonable. Perhaps the analyzer should respect some kind of opt out from this error for derived attributes.

@bradwilson any thoughts?

Thanks for raising this @michael-wolfenden.

[2017-07-06 13:20] bradwilson commented on #372
Agreed that the rule seems wrong. It should only trigger for methods which exactly use `[Fact]`, but not for any derived types. Please [open an issue](https://github.com/xunit/xunit/issues). /cc @marcind

[2017-07-06 21:05] adamralph commented on #372
Thanks for raising the xunit issue @marcind

I'll close this issue now since the fix will be in xunit and we can track the issue there.

[2017-07-06 21:05] #372 closed, assigned to nobody

[2017-07-19 00:24] michael-wolfenden opened #373 "ReSharper treats all steps as a single test in SDK style projects"
Given the following packages

[code]

and Resharper version

[code]

When running the follow test via resharper

[code]

Resharper's test runner is marking the test as inconclusive (not failed)

![Resharper output](https://i.imgur.com/FLGhOfX.png)

I have a repository that reproduces the issue at:
https://github.com/michael-wolfenden/xbehave-issue

[2017-07-19 09:06] adamralph commented on #373
Thanks for reporting this @michael-wolfenden. I don't have R# to hand right now (I run it in a VM on another machine) but I'll look into this ASAP.

/cc @citizenmatt - any ideas?

[2017-07-20 22:04] citizenmatt commented on #373
Click on the "OK" in the top right of that window - it should show you a log file. It might provide some useful information. I'll try and take a look tomorrow, but I'm trying to get a lot done before vacation...

[2017-07-20 22:22] michael-wolfenden commented on #373
This was the info from the log file

[code]

[2017-07-21 13:41] citizenmatt commented on #373
I'm not going to get a chance to look at this before vacation, sorry. You can raise an issue at youtrack.jetbrains.com if you'd like.

What do you get when you run it in the command line? I'm surprised it returns "ignored" - that means ReSharper has been directly told that it's been ignored/skipped. If a test is expected to run but doesn't, it usually gets "Inconclusive".

[2017-07-22 03:02] michael-wolfenden commented on #373
I have raised an issue with jetbrains

https://youtrack.jetbrains.com/issue/RSRP-465558

[2017-07-23 21:33] osotorrio opened #374 "System.TypeLoadException : Could not load type 'Xunit.Sdk.LongLivedMarshalByRefObject'"
**Preconditions**

1. I am using Visual Studio Community 2015 Update 3.
2. NUnit 3 Test Adapter 3.8.0.0 extension is installed in VS.
3. My projects, including the test project, target .net Framework 4.6.1

4. This is my packages.config file:

[code]
When I run the test from both, the console runner and the VS runner, I get the following exception:

[2017-07-24 08:10] adamralph commented on #374
@osotorrio thanks for raising this.

@bradwilson did anything change between xunit 2.1.0 and 2.2.0 wrt `Xunit.Sdk.LongLivedMarshalByRefObject`?

[2017-07-24 22:06] bradwilson commented on #374
No.

[2017-07-24 22:09] bradwilson commented on #374
To be clear, we're talking about `xunit.execution.desktop`, targeting desktop CLR, right?

[2017-07-25 05:57] bradwilson commented on #374
Looking at your [NuGet package](https://www.nuget.org/packages/XBehave), I'm pretty sure this is not right:

First, you should be strongly linked against a version. If you've linked against 2.1.0, then they *must* also link against 2.1.0. We do not practice SemVer, and we may break things from build to build.

Second, you should probably link against `xunit.extensibility.core` (and/or `xunit.exten

[2017-07-27 07:14] adamralph commented on #374
Thanks @bradwilson.

I believe so. From the issue description it appears that @osotorrio is using .NET FX 4.6.1 throughout.

OK, that's news to me. I'll do that, but it does put a burden on me to release a new version of xbehave with every single xunit release. What about patch increments? Could they also break, or could I have a version range of, say, [2.2.0, 2.3.0)?

`xbehave` depends on `xunit`

[2017-07-27 21:55] osotorrio commented on #374
After reading your comments I have started over. I uninstalled all the packages from the solution. Then I installed just Xbehave 2.1.4. So in this case, I did not update to XUnit 2.2.0 after the installation of XBehave 2.1.4.

This is how the packages.config looks now.

[code]

When I run the test from the console runner I get the following error message.

I am not sure now if there is something w

[2017-07-28 06:21] adamralph commented on #374
@osotorrio thanks very much for the update!

I notice that you are still using `xunit.runner.console` 2.2.0. Can you please confirm if you get the same problem if you use `xunit.runner.console` 2.1.0?

[2017-07-29 06:06] osotorrio commented on #374
Yes, I am afraid that I get the same type of exception:

how else can I help?

[2017-07-29 23:27] bradwilson commented on #374
I'm very confused how you are linked against both 2.1 and 2.2. Can you create a stand-alone repro?

[2017-07-31 20:47] osotorrio commented on #374
Preparing the stand-alone repo I realized what was the problem. After installing Xbehave 2.1.4, if you update all the XUnit's packages to 2.2.0, it creates some assembly bindings in the app.config. That is why the "double link".

[https://github.com/osotorrio/stand-alone](https://github.com/osotorrio/stand-alone)

Following the commits you can see the application working and not working.

Commit [

[2017-08-07 21:33] michael-wolfenden commented on #373
@adamralph just a quick update on this issue, I'm still waiting on a response from jetbrains.

[2017-08-08 09:19] adamralph commented on #373
Thanks @michael-wolfenden!

[2017-08-08 22:27] michael-wolfenden commented on #373
@citizenmatt Have I logged the issue correctly? There doesn't appear to have been any activity on the issue.

[2017-08-14 13:44] citizenmatt commented on #373
Yep, great issue, thanks. I've had a look and I think it's working as expected, surprisingly.

It looks like xbehave will run each step as a separate xunit test case. However, each step is being reported as the same test method, so ReSharper doesn't know that each step is different - it sees the same test being run 5 times. And when one step fails, the remaining steps are marked as skipped, but be

[2017-08-15 10:09] michael-wolfenden commented on #373
Thanks for investigating @citizenmatt

Thoughts @adamralph?

[2017-08-15 12:00] adamralph commented on #373
@michael-wolfenden I'm travelling currently but will chime in ASAP.

[2017-09-05 10:47] philippdolder commented on #296
I've noticed it's quite a while nothing happened. Can I support in a way to push xbehave 2.2 out the pipeline so we have a release version compatible with xunit 2.2?

[2017-09-05 16:45] adamralph commented on #296
Hi @philippdolder thanks for chiming in. The biggest problem at the moment is that nothing builds with VS 2017. Anything you can do to resolve that situation would be appreciated. Note that I have a WIP branch at https://github.com/adamralph/xbehave.net/tree/vs2017 but I haven't done a great deal more than the automatic conversion.

[2017-10-12 16:17] fleetr commented on #374
@adamralph

Yes, it did - in 2.1.0 that class lived in the Xunit.Sdk namespace, but in >=2.2.0 it _can_ live in the Xunit namespace, depending on some conditional compilation thus:

[code]

[2017-10-13 12:43] thomaslevesque commented on #373
Hey @adamralph, have you been able to look at this? I just noticed the issue too. At some point, R# showed each step of Xbehave scenarios, but now it doesn't; I suspect this is related to this problem. I don't know if the regression is in R# or in Xbehave. Did anything change in how Xbehave reports scenario steps?

[2017-10-14 11:01] adamralph commented on #373
@thomaslevesque that problem was raised in #366. As far as I can tell, it's a bug in ReSharper.

In fact, I think this issue is the same problem. Because ReSharper is not treating each step separately, the result of the last step is used as the result of the entire scenario.

[2017-10-14 11:11] adamralph commented on #366
@iamkoch I'm guessing that's because ReSharper takes the result of the last step in the scenario and uses that as the result of the entire scenario.

@citizenmatt I've now had a chance to remind myself about this. The problem is that, when an xunit test case does not evaluate the tests at discovery time (more detail on that [here](https://github.com/xbehave/xbehave.net/issues/366#issuecomment-2755

[2017-10-14 11:23] adamralph commented on #373
This is the same issue as #366 so I'm going to merge them.

[2017-10-14 11:25] adamralph commented on #373
On second thoughts - we'll use this issue and not #366, since #366 refers to project.json which is defunct, but this issue refers to SDK-style projects.

[2017-10-14 11:25] adamralph commented on #373
@citizenmatt you are correct, but what xbehave is doing is no different to an xunit theory (in the case where the arguments do not serialize). More on that [here](https://github.com/xbehave/xbehave.net/issues/366#issuecomment-275527846).

Again, that is exactly what is happening. An xbehave scenario behaves just like an xunit theory which evaluates tests at execution time and not discovery time, w

[2017-10-14 11:26] adamralph commented on #366
This issue (referring to project.json) has been superseded by #373 which refers to SDK style projects.

[2017-10-14 11:26] #366 closed, assigned to adamralph

[2017-10-14 12:22] adamralph commented on #373
@citizenmatt I've pushed a repro to https://github.com/adamralph/resharper-xunit-theory-bug

Here you can see the problem in all its gory details:

![image](https://user-images.githubusercontent.com/677704/31575585-a20d81ae-b0ea-11e7-8f26-956f21ae49a7.png)

For the "classic" csproj (bottom), everything works perfectly. xunit theories are reported with all tests as separate leaves in the tree, as a

[2017-10-14 12:31] adamralph opened #375 "Link against xUnit.net 2.3.x"
As per https://github.com/xbehave/xbehave.net/issues/374#issuecomment-317637643 the version range will be 2.3.0 or greater, and less than 2.4.

[2017-10-14 12:32] adamralph commented on #374
It looks like this discussion has run it's course, and I believe the best course of action is to release a new version of xbehave which links against xunit 2.3. I've raised https://github.com/xbehave/xbehave.net/issues/375 for that.

[2017-10-14 12:32] #374 closed, assigned to adamralph

[2017-10-14 14:57] thomaslevesque commented on #373
Ah, so it stopped working in FakeItEasy when we migrated the specs to the new csproj... In  this case, I agree that the problem is probably in ReSharper.

[2017-10-17 10:27] Saisuryakattamuri opened #376 "Tests are Inconclusive and non discoverable with latest version of Xbehave and Xunit with dotnet core 2.0"
I'm using the following
XUnit 2.3.0
XBehave 2.1.4
dotnet core 2.0

When I tried to run sample XBehave Scenario(exactly the one given in Quickstart) I'm getting error saying Addition is InConclusive with the following stacktrace. [xbehave.txt](https://github.com/xbehave/xbehave.net/files/1390695/xbehave.txt)

I have referred to issue #373  and disabled ReSharper and executed tests only with VisualS

[2017-10-17 12:42] adamralph commented on #376
@Saisuryakattamuri thanks for raising this.

Indeed, xBehave.net 2.1.4 does not support either .NET core or xUnit.net 2.3.0.

xBehave.net 2.3.0 will add support for both [.NET core](https://github.com/xbehave/xbehave.net/issues/300) and [xUnit.net 2.3.0](https://github.com/xbehave/xbehave.net/issues/375). I don't have an ETA yet for xBehave.net 2.3.0 but, coincidentally, I started work on it last

[2017-10-17 22:27] citizenmatt commented on #373
The repro was very useful, thanks. Turns out this is a known issue - [RSRP-464565](https://youtrack.jetbrains.com/issue/RSRP-464565), scheduled for a fix in 2017.3 (next release).

I've run the tests with tracing enabled, and from what I can tell the dotnet test API looks like it's sending the wrong information. The `Feature.XunitTheoryWithTestsEvaluatedAtExecutionTime` test case is being reported

[2017-10-18 06:38] adamralph commented on #373
👍 thanks @citizenmatt.

I've added an entry for this in the [known issues in the xBehave.net wiki](https://github.com/xbehave/xbehave.net/wiki/Known-Issues).

Thank you @michael-wolfenden for opening this issue.

[2017-10-18 06:38] #373 closed, assigned to adamralph

[2017-10-19 20:44] blairconrad commented on #300
Ha! I forgot that I was ever assigned this. I think that was after you closed it a year ago, @adamralph. Since you're on top of it, and I amn't likely to get time to work on it in the next bit, it's probably best to take my name off.

[2017-10-24 22:26] michael-wolfenden commented on #373
Appears to be working now after upgrading to JetBrains ReSharper Ultimate 2017.3 EAP 1

![image](https://user-images.githubusercontent.com/780521/31971199-1783c4fe-b95e-11e7-9999-21f4119492d9.png)

[2017-10-30 09:33] adamralph commented on #376
@Saisuryakattamuri assuming you've got things working for now, I'm closing this issue. Thanks for raising it. Please keep an eye on the repo for the 2.3.0 release and/or follow our [Twitter account](https://twitter.com/xbehavenet) for updates. If you have any further questions please re-open this issue or raise a new one.

[2017-10-30 09:33] #376 closed, assigned to adamralph

[2017-10-31 00:09] adamralph opened #378 "Drop SemVer"
Follow [xUnit.net versioning](https://github.com/xbehave/xbehave.net/issues/374#issuecomment-317637643) instead.

[2017-10-31 00:19] #300 closed, assigned to adamralph

[2017-10-31 00:19] #375 closed, assigned to adamralph

[2017-10-31 00:32] adamralph opened #379 "Link to GitHub releases in nupkg release notes"

[2017-10-31 07:02] ursenzler commented on #362
If possible, I'd prefer immediate execution because we had to introduce some dummy steps in our tests to compensate for deferred execution. Also, it's something that people I teach about xBehave struggle with, in the beginning.

[2017-10-31 11:31] adamralph commented on #362
@ursenzler that's interesting. Could you provide an example please?

[2017-11-01 12:31] adamralph commented on #373
@michael-wolfenden I've confirmed this from my end too. Great work @citizenmatt and team!

I've updated the [FAQ](https://github.com/xbehave/xbehave.net/wiki/Scenarios-are-shown-as-a-single-test-in-ReSharper-instead-of-a-test-for-each-step).

[2017-11-01 18:14] adamralph commented on #283
Added to [known issues](https://github.com/xbehave/xbehave.net/wiki/Known-Issues), with the workaround.

Thanks @chrisalexander for raising this and @jaredpar for chiming in!

[2017-11-01 18:25] #283 closed, assigned to adamralph

[2017-11-01 18:50] #379 closed, assigned to adamralph

[2017-11-01 18:52] #378 closed, assigned to adamralph

[2017-11-01 18:58] #371 closed, assigned to adamralph

[2017-11-02 15:35] #196 closed, assigned to adamralph

[2017-11-02 15:35] #263 closed, assigned to adamralph

[2017-11-02 15:48] adamralph opened #386 "Remove f() and _()"
_Follow on from #290._

[2017-11-02 16:33] adamralph opened #388 "Use improved argument formatter from xUnit.net 2.3"

[2017-11-02 17:33] #388 closed, assigned to adamralph

[2017-11-02 21:54] adamralph opened #391 "Remove injection of example values into step names"
From the wiki:

Using C# 6 or later, this can be done using string interpolation, e.g.

[code]

[2017-11-03 10:17] #391 closed, assigned to adamralph

[2017-11-03 10:41] #186 closed, assigned to adamralph

[2017-11-03 12:36] adamralph opened #397 "Support example skipping"
_Replaces #151._

Since `[Example]` inherits from xunit's `[Data]`, it's possible to write

[code]

However, xbehave does not support the skip parameter.

[2017-11-03 12:36] adamralph commented on #151
Replaced by #397.

[2017-11-03 12:36] #151 closed, assigned to nobody

[2017-11-03 12:37] #397 closed, assigned to adamralph

[2017-11-03 18:05] adamralph commented on #155
I've proposed this as [a feature in xunit](https://github.com/xunit/xunit/pull/1546). If accepted, xbehave will inherit the feature when it is linked to the next version of xunit.

[2017-11-03 19:17] #315 closed, assigned to adamralph

[2017-11-05 16:54] adamralph commented on #155
This [will be part of xunit 2.4.0](https://github.com/xunit/xunit/pull/1546#issuecomment-341987305), so the link to xunit 2.4.0 will provide this feature.

[2017-11-07 07:19] ursenzler commented on #362
@adamralph I'll have to show you in our code, I struggle to explain it without context.

[2017-11-08 08:59] adamralph opened #406 "Analyzer warning for code outside step delegates"
The basic premise of xbehave is that _everything_ should be inside step delegates so that success or failure of a given scenario always related to a specific logical step, identified by a natural language sentence. If code is outside a step delegate, then this benefit is lost.

Slightly contrived example:

[code]

If one of the two commented operations throw, it's not possible to tell any more fro

[2017-11-08 09:01] adamralph commented on #362
@ursenzler I can only imagine that you must have a need to execute specific code outside step delegates. If everything is inside, then everything is deferred and you should not have any problems.

The basic premise of xbehave is that _everything_ should be inside step delegates. If something is outside, then yes, I can imagine that the deferred execution could be problematic. If indeed you do have

[2017-11-08 12:11] ursenzler commented on #406
We typically initialize some values at the beginning of a scenario (outside of a step). And I think that is okay because this code really should not fail. If it does, the whole scenario fails, which is okay with my understanding.
So the analyzer should probably only check for code after the first step.

Btw `answer = calculator.GetLastAnswer();` is something that we would encapsulate with a dummy

[2017-11-08 12:26] adamralph commented on #406
Why not put that in a step? It can even go into a [background step](https://github.com/xbehave/xbehave.net/wiki/Backgrounds) if you want to reuse across scenarios.

Why does it have to be a "dummy" step? If you are writing a step anyway, I'd give it a proper sentence:

[code]

[2017-11-27 13:35] ursenzler opened #408 "failing tests are shown as ignored in Resharper Runner"
I'm not done isolating the reason because we did the following in our solution:
- updated all projects to the new csproj format (Target = net47)
- updated xunit to 2.3.1
- added xunit.runners.visualstudio

I tested the behavior with xBehave.Core 2.1.4 and 2.3.0-rc0001-build717.

When a Scenario fails, it is shown as ignored in the Resharper runner inside VisualStudio and the steps are not shown as

[2017-11-27 14:14] ursenzler commented on #408
So I played around with different versions.

Everything works as expected in the console runner.

However, when using the xunit.runner.visualstudio Resharper shows Scenarios without steps.
This holds for xunit.runner.visualstudio 2.1.0 running xBehave 2.1.4 (which uses xunit 2.1.0) as well as for xunit.runner.visualstudio 2.3.1 running xbehave 2.3,0-rc0001-build717

As long as the versions match,

[2017-11-28 07:59] adamralph commented on #408
@ursenzler which version of R# are you using? Have you seen this? https://github.com/xbehave/xbehave.net/wiki/Scenarios-are-shown-as-a-single-test-in-ReSharper-instead-of-a-test-for-each-step

[2017-11-28 11:40] ursenzler commented on #408
@adamralph I used to latest official release (2017.2.2). I'll try with the EAP and report back.

[2017-11-29 07:53] ursenzler commented on #408
I can confirm that R# EAP 2017.3 solves this issue.
Thanks for the link and once again it is not the failure of xBehave ;-)

[2017-11-29 07:53] #408 closed, assigned to adamralph

[2017-11-29 08:44] adamralph commented on #408
👍 great!

[2017-12-05 12:33] iam3yal opened #409 "The Background feature"
There are few minor issues with it.

1. The [example](https://github.com/xbehave/xbehave.net/wiki/Backgrounds) doesn't indicate that you can have a different method name other than `Background`.

2. The test runnner display the background test as inconclusive, I don't think it should really display it or is it a limitation? if so maybe it should be documented too.

3. The name of the steps shouldn

[2017-12-05 21:37] adamralph commented on #409
@eyalsk thanks for raising this.

I've added a comment to explain this.

---

That should not be the case. The test should be marked as successful if it ran without problem. Which test runner are you using?

---

It's a long time ago, but I think the reason I did that was to because tests might come out like this (borrowing from the [example in the Cucumber wiki](https://github.com/cucumber/cucumb

[2017-12-05 23:37] iam3yal commented on #409
@adamralph

I'm using ReSharper.

Well, I prefer the latter because I think that communicating that it runs as a `Background` should come second, the first question should be about what step ran before going into what kind of step it is.

Another reason and maybe THE reason, at least for me is when the window of the test runner in Visual Studio is docked vertically the name of the test becomes mor

[2017-12-10 13:41] adamralph opened #410 "Background steps showing as dummy inconclusive tests in ReSharper"
_Outcome of #409._

![image](https://user-images.githubusercontent.com/677704/33805285-8117cca4-ddb6-11e7-84d2-ff1862786fce.png)

This is because `[Background]` is redundantly inheriting from `[Fact]`. It's arguable that ReSharper should not be showing the test at all, as other runners do, but in any case, the inheritance is redundant and can be removed, which will fix this problem immediately, re

[2017-12-10 13:57] adamralph opened #411 "Step display text customisation"
_Outcome of #409._

[2017-12-10 13:59] adamralph commented on #409
@eyalsk I managed to reproduce the problem you mentioned regarding the background showing as an inconclusive test:

![image](https://user-images.githubusercontent.com/677704/33805285-8117cca4-ddb6-11e7-84d2-ff1862786fce.png)

The test which is marked as inconclusive is actually a dummy test. ReSharper discovers that the method is marked with `[Background]` (which derives from xunit's `[Fact]`) so

[2017-12-10 17:37] iam3yal commented on #409
@adamralph These changes will make me so happy! Thank you! ❤️

[2017-12-11 16:12] adamralph commented on #296
https://twitter.com/adamralph/status/940234216410886147

[2017-12-11 18:03] adamralph opened #416 "2.3.1 release"
**Ready** when all other issues forming part of the release are **Done**.

- [x] merge dev/release-x.y.z to master
- [x] tag master
- [x] smoke test package
- [x] await release of https://github.com/xunit/xunit/issues/1611
- [x] take a dep on xunit.analyzers 0.9.0 - #440
- [x] re-tag master
- [x] re-smoke test package
- [x] convert tag to GH release
- [x] push package
- [x] tweet, mentioning contr

[2017-12-11 18:32] #296 closed, assigned to adamralph

[2017-12-11 18:42] #410 closed, assigned to adamralph

[2017-12-11 19:07] adamralph commented on #409
You're welcome @eyalsk. 😄

I'm closing this issue now, since the three points have been addressed (or will be in separate issues). Thanks again for raising this.

[2017-12-11 19:07] #409 closed, assigned to adamralph

[2017-12-11 20:25] citizenmatt commented on #409
I think ReSharper is behaving as expected here - the `[Background]` method is marked as a test, so it's being shown as a test, and it's giving a warning that it wasn't run.

If it's not actual a test, then removing the `FactAttribute` base sounds like a good move to me.

[2017-12-11 21:43] adamralph commented on #409
@citizenmatt I'm going to remove it anyway, but note that other test runners, e.g. the VS runner, or TestDriven.NET, do not show this test method at all. I guess they completely ignore any test method which does not yield any tests at either discovery or run time.

[2017-12-11 23:05] adamralph commented on #410
@eyalsk I've released https://www.nuget.org/packages/Xbehave/2.3.1-alpha0001-build731 which contains a fix for this problem. Would you be able to give it a try to verify?

[2017-12-12 13:18] citizenmatt commented on #409
Well, yeah, they're different products with different aims. They're only showing the tests that are currently running or have been run. They get completely accurate test lists, but the trade off is that they're historical snapshots. They will show obsolete tests when you edit the file, and don't show new tests as you add them.

ReSharper has a different approach, and tries to show a test list of _

[2017-12-12 18:07] adamralph commented on #409
@citizenmatt thanks for the explanation. That all makes sense, and it's a good future reference point.

[2017-12-13 02:33] iam3yal commented on #410
@adamralph Sure! 😄

[2017-12-13 03:23] iam3yal commented on #410
@adamralph It seems to work great, have you implemented the ability to change where the `(Background)` text appears?

[2017-12-13 17:03] adamralph commented on #410
@eyalsk great, thanks for verifying.

Not yet, watch https://github.com/xbehave/xbehave.net/issues/411 for updates on that.

[2017-12-23 13:40] #411 closed, assigned to adamralph

[2017-12-23 13:57] adamralph commented on #411
@eyalsk I just pushed 2.3.1 beta 1, which contains this feature.

Could you please give it a try? https://www.nuget.org/packages/Xbehave/2.3.1-beta0001-build733

You should be able to achieve what you want by doing something like this:

[code]

[2017-12-23 18:57] iam3yal commented on #411
@adamralph Excellent, thank you for these changes. 😉

[2017-12-23 18:58] iam3yal commented on #411
@adamralph I've tested it just now and so far it looks good.

[2017-12-30 15:32] #15 closed, assigned to nobody

[2017-12-30 16:09] adamralph commented on #12
This is solved by https://github.com/appccelerate/xBehaveMarkdownReport /cc @ursenzler

[2017-12-30 16:09] #12 closed, assigned to nobody

[2017-12-30 16:19] adamralph commented on #18
Doesn't seem to be enough ROI on this.

[2017-12-30 16:19] #18 closed, assigned to nobody

[2017-12-30 16:20] adamralph commented on #10
Not enough ROI over simply setting the value of fields in the test class.

[2017-12-30 16:20] #10 closed, assigned to nobody

[2017-12-30 16:25] adamralph commented on #24
Not enough ROI over https://github.com/appccelerate/xBehaveMarkdownReport /cc @ursenzler

[2017-12-30 16:25] #24 closed, assigned to nobody

[2017-12-30 16:25] adamralph commented on #82
There is no idea for a new syntax.

[2017-12-30 16:25] #82 closed, assigned to nobody

[2017-12-30 16:27] adamralph commented on #153
Let's let AutoFixture and friends fill this requirement.

[2017-12-30 16:27] #153 closed, assigned to nobody

[2018-01-03 18:51] adamralph commented on #416
On hold, because the removal of `Fact` from the inheritance tree of `Background` is triggering xunit1013. [Conversation on Slack](https://xunit.slack.com/archives/C034MFNED/p1515005182000540).

[2018-02-23 12:10] adamralph commented on #416
Changing to 2.4.0, since https://github.com/xunit/xunit/issues/1611 will be released no sooner than xunit 2.4.0. See https://github.com/xunit/xunit.analyzers/pull/92#pullrequestreview-98815686

[2018-02-23 12:20] adamralph opened #423 "Link against xUnit.net 2.4"

[2018-02-23 12:24] #386 closed, assigned to adamralph

[2018-03-06 16:05] ma499 opened #426 "Depend on xunit.core rather than xunit"
The Nuget packaging creates a dependency between XBehave and the "xunit" meta package. I would prefer if the dependency was instead on xunit.core (and directly on any other xunit libraries that are required). That way I do not, for example, need to build my project with xunit.assert (included by the xunit metapackage) when I'm using an alternative assertions library, such as Fluent Assertions.

[2018-03-06 16:34] adamralph commented on #426
@ma499 thanks for raising this.

The [Xbehave.Core](https://www.nuget.org/packages/Xbehave.Core) package is designed exactly for this purpose. It depends on `xunit.core` instead of `xunit`. Can you please give it a try to see if it solves your requirement?

I'll add a page to the FAQ about this shortly.

[2018-03-06 16:38] adamralph commented on #426
FAQ added: https://github.com/xbehave/xbehave.net/wiki/Can-I-use-xBehave.net-without-introducing-xunit.assert%2C-xunit.analyzers%2C-etc.%3F

[2018-03-09 19:09] ma499 commented on #426
Ah, works fine. Thank you!

[2018-03-09 19:09] #426 closed, assigned to nobody

[2018-03-09 19:38] adamralph commented on #426
You're welcome. 😃

[2018-03-15 07:23] adamralph commented on #416
Changing back to 2.3.1, since https://github.com/xunit/xunit/issues/1611 is only in the analyzers package, and we may have a new release of that before xunit 2.4.0.

[2018-03-18 15:43] #155 closed, assigned to adamralph

[2018-03-22 10:33] iamkoch commented on #285
This is old now, but oddly it came up in conversation in the ddd-cqrs slack, and this post was found by a colleague. Small world... I made a Gist https://gist.github.com/iamkoch/81cecac9a3c5519a36801e01c8ab4968 with sample code.

[2018-03-22 16:56] adamralph commented on #285
@iamkoch 👍 thanks for the update!

Out of interest, why is it that you need to create something custom, rather than using the built-in attributes in `AutoFixture`?

[2018-03-22 18:00] iamkoch commented on #285
One example is that we have WebHost tests which run an in-memory Owin / Kestrel server. Our Attribute configures Autofixture to provide an instance of a fixture, as well as providing the ability to serve up dependencies (think mocks) directly from the webhost's IOC container

[2018-03-22 18:07] adamralph commented on #285
@iamkoch is this something specific to xbehave, or would you have to do the same thing if you were using a regular xunit theory?

[2018-03-23 08:54] iamkoch commented on #285
It's not XBehave specific. And I think I could just have extended InlineAutoData come to think of it. It's strange how one can't see the wood for the trees when you're frantically trying to solve a problem, instead of taking a step back and applying a bit of thought!

[2018-03-23 08:57] adamralph commented on #285
I know the feeling @iamkoch 😄

[2018-04-20 18:30] ma499 commented on #406
I agree with _initiatlisation_ in a step - that's how I interpret 'Given' steps.

However, I find it a bit ugly for test _variables_ to be declared as method parameters - particularly when the test also has parameters that I'm driving using `[Example(..)]`. I would prefer to _declare_ test variables inside the method. The [documentation seems to suggest that this is acceptable](https://github.com/

[2018-04-20 18:51] adamralph commented on #406
@ma499 that's a fair point. I guess it's a matter of taste. I guess such an analyzer could attempt ignore variable declarations, but it's always the edge cases that trip up those kind of things.

[2018-04-29 11:03] jotatoledo commented on #374
Just came across this issue. Just to be clear, there is no version of `xbehave` compatible with `xunit` 2.2.0, right? If thats the case, thats (atm) a deal breaker for me, as I cant update xunit to 2.3.x :(

[2018-04-29 17:10] adamralph commented on #374
@jotatoledo that's correct. There is no xbehave version linked against xunit 2.2.

Out of interest, why can you not upgrade to xunit 2.3?

[2018-04-29 20:28] jotatoledo commented on #374
@adamralph thanks for the quick reply. Im currently using a visual studio extension to run my tests + code cover, which has no compatibility with xunit 2.3.x. I might upgrade in the future, but its not in my plans atm.

[2018-04-30 10:44] adamralph commented on #374
@jotatoledo I see, thanks. Out of curiosity, I'm going to investigate how it easy it will be to release xbehave 2.2, linked to xunit 2.2.

[2018-04-30 19:01] jotatoledo commented on #374
That would be great, but if the effort to make it happen is too much, I would understand if such a release doesnt see the light. I will open a new issue so that if more ppl require support for xunit 2.2.x are out there, they can upvote it or comment it.

[2018-04-30 19:04] jotatoledo opened #434 "Support for xunit 2.2.x"
**Current behavior**

According to https://github.com/xbehave/xbehave.net/issues/374, the avaialble versions of xbehave arent compatible with xunit 2.2.x. There might be devs out there who have a dependency on xunit@2.2.x, and because of this, they cant use this lib.

**Expected behavior**

Support xunit 2.2.x

[2018-05-01 08:36] adamralph commented on #374
@jotatoledo perfect, thanks very much! 👌

[2018-05-05 08:47] adamralph commented on #434
@jotatoledo FYI I'm still looking into this, but it turns out to be non-trivial, since xunit switched from PCL to .NET Standard in 2.2. The 2.1 xbehave tag is still using the old csproj, so that means dumping that and creating a new csproj based on the new SDK format, and then upgrading to xunit 2.2, plus all the work to retarget the resulting NuGet package. I'm not saying it won't happen, but it

[2018-05-06 10:02] jotatoledo commented on #434
Thanks for the update. I would gladly contribute in any way that I could, but I most likely lack the knowledge related to the .net standard. Because of this I cant promise any help on the short term.

The runner is called AxoCover. There is an open issue on its tracker already https://github.com/axodox/AxoCover/issues/129

[2018-05-06 12:35] adamralph commented on #434
@jotatoledo I spent some time on this today, but it soon got too complicated to be worth pursuing. While I'd like to have an xbehave 2.2 for completeness (so there's a matching xbehave for every xunit minor), the return on investment in ticking the 2.2 box is not really worth it. It could take me days to get this working. I believe it's better to push for AxoCover to support xunit 2.3, which has b

[2018-05-06 12:35] #434 closed, assigned to adamralph

[2018-05-18 14:05] coderitual opened #439 ".NET Core"
Is this framework working only with dotnetcore dependency? I am looking for a cross platform solution.

[2018-05-18 15:11] blairconrad commented on #439
@coderitual, xBehave.net targets both .NET Standard 1.1 as well .NET Framework 4.5.2, so can be used under both .NET Core and .NET Framework.

[2018-05-18 18:48] adamralph commented on #439
@coderitual thanks for raising this question.

As @blairconrad says, xBehave.net supports .NET standard 1.1, which means all the following platforms are supported (and all later versions of each):

- .NET Core 1.0
- .NET Framework 4.5
- Mono 4.6
- Xamarin.iOS 10.0
- Xamarin.Mac 3.0
- Xamarin.Android 7.0
- UWP 10.0
- Windows 8.0
- Windows Phone 8.1

... plus any other platform which supports .NET S

[2018-05-18 18:48] #439 closed, assigned to nobody

[2018-05-21 17:11] #416 closed, assigned to adamralph

[2018-05-21 17:15] adamralph commented on #410
Released in 2.3.1 - https://twitter.com/adamralph/status/998611366817746944

Thanks @eyalsk. Look out for your name in the release notes! https://github.com/xbehave/xbehave.net/releases/tag/2.3.1 🏆

[2018-05-21 17:15] adamralph commented on #411
Released in 2.3.1 - https://twitter.com/adamralph/status/998611366817746944

Thanks @eyalsk. Look out for your name in the release notes! https://github.com/xbehave/xbehave.net/releases/tag/2.3.1 🏆

[2018-05-26 18:02] adamralph opened #444 "x-plat build"
Blocked on https://github.com/xunit/xunit/issues/1765

[2018-06-01 20:39] adamralph commented on #444
Not possible until the net452 target goes away.

[2018-07-17 07:58] adamralph opened #456 "2.4.0 release"
**Ready** when all other issues forming part of the release are **Done**.

- [x] merge dev/release-x.y.z to master
- [x] tag master
- [x] smoke test package
- [x] convert tag to GH release
- [x] push packages
- [x] tweet, mentioning contributors - https://twitter.com/adamralph/status/1019243358781308930
- [x] post tweet in [Gitter](https://gitter.im/xbehave/xbehave.net) - https://gitter.im/xbehave

[2018-07-17 07:59] #423 closed, assigned to adamralph

[2018-07-17 15:21] adamralph opened #458 "Ship a single netstandard execution assembly"
Blocked on https://github.com/xunit/xunit/issues/1765

[2018-08-02 22:01] #456 closed, assigned to adamralph

[2018-08-22 21:43] adamralph opened #470 "switch to xunit 3.0"
https://github.com/xunit/xunit/issues?q=is%3Aissue+is%3Aopen+label%3A%22target%3A+3.0%22

[2018-08-25 16:41] adamralph opened #472 "Add Microsoft.DotNet.Analyzers.Compatibility"
https://www.nuget.org/packages/Microsoft.DotNet.Analyzers.Compatibility/

Currently 0.2.12-alpha. Probably best to wait until it's a bit more mature.

[2018-09-13 07:00] paulvanbladel opened #482 "Problem when there is a "surrounding scope" when calling xbehave."
Very nice library !
Sorry for the confusing title of this issue/question.

I'm using a style of integrations tests which doesn't seem, at first glance, to work quite well together with xbehave.
Basically, my integration tests take all dependencies from the DI container which is setup in startup.cs.
For doing so, I'm using, among others, following static method:
[code]
So', I'm presuming that all s

[2018-09-13 07:18] paulvanbladel commented on #482
Ah, the CreateOrder method should be called also async.
That solved the problem.
Sorry for disturbing:

[code]

[2018-09-13 07:18] #482 closed, assigned to nobody

[2018-09-13 08:18] adamralph commented on #482
@paulvanbladel no problem. That does indeed look like the correct solution.

[2018-09-13 08:31] paulvanbladel opened #483 "do you have a preferred solution for generating a .md report from the test results?"
I'm using .net core.
Can't find a working solution for generating an .md file from the test results.
Suggestions?
Thanks a million.
cheers
paul.

[2018-09-13 09:47] adamralph commented on #483
Hi @paulvanbladel, I'm afraid not.

xbehave has never provided such a facility for any platform. The best I can suggest is https://github.com/appccelerate/xBehaveMarkdownReport but that only works against the XML output from `xunit.console.exe`, and not the `trx` output from `dotnet test`. I see you've already raised an issue over there.

BTW, it looks like there may be a [way of getting `trx` out

[2018-09-13 12:24] paulvanbladel commented on #483
Great info.
I tried it, and indeed that xunit logger works , but unfortunately the output is not rich enough for xBehaveMarkdownReport.
It's a pity because xbehave without reporting decimates the total value. The real added value comes in when you can communicate with business party in terms of BDD tests.

[2018-09-14 08:32] adamralph commented on #483
I guess that's where we disagree. 😄

I haven't added this to xbehave because I have no use for it. If it's something you need, you're welcome to contribute the functionality. That said, it wouldn't require any dependency on the core package, so it can be it's own independent project and package. (Hint: https://github.com/new) 😉

[2018-09-14 16:48] paulvanbladel commented on #483
there is nothing that can decimate the value of xbehave.😊 I meant that xbehave without a complementary reporting solution decimates the value of doing BDD. I am a strong believer of the "doing one thing and do it well principle". So indeed xbehave should definitely not contain reporting. It is more than fine in its current form.
i am still in the process of discovering bdd but if everything goes w

[2018-09-15 08:39] adamralph commented on #483
@paulvanbladel great stuff. Please keep me in the loop with regard to the reporting solution. I'll be more than happy to do my bit to publicise it. Thanks for raising this discussion.

[2018-09-15 08:39] #483 closed, assigned to adamralph

[2018-09-22 06:43] adamralph commented on #113
Not worth the maintenance burden.

[2018-09-22 06:43] #113 closed, assigned to nobody

[2018-09-22 06:44] adamralph commented on #406
Will be made redundant by #362.

[2018-09-22 06:44] #406 closed, assigned to nobody

[2018-09-22 06:45] adamralph commented on #107
Not enough ROI.

[2018-09-22 06:45] #107 closed, assigned to nobody

[2018-10-02 16:22] adamralph opened #490 "Add an API test"
E.g. https://github.com/adamralph/bullseye/blob/master/BullseyeTests/Api.cs

Should also be applied to last 2.x branch.

[2018-10-03 17:46] #490 closed, assigned to adamralph

[2018-10-13 22:14] adamralph commented on #21
Better to use xunit's `Record.Exception()` to capture the exception. Sharing variables between steps is a [separate concern](https://github.com/xbehave/xbehave.net/issues/218).

[2018-10-13 22:14] #21 closed, assigned to nobody

[2018-10-14 07:50] adamralph opened #505 "upgrade tests to xunit 2.4.1"
Should also be cherry-picked onto the last 2.x release.

[2018-10-31 19:49] #505 closed, assigned to adamralph

[2018-11-06 11:07] emi662002 opened #519 "Rerun tests in TFS"
Hi,

When running Scenarios each step is seen by TFS as a single test. Having a scenario with 10 steps, is seen then as 10 individual tests.

I have for example these 2 steps, and in TFS these are shown as individual tests passing or not:

[code]

[code]

The problem is when I activate the option  "Rerun failed tests" (TFS 2018) which will retry the failed tests. As you can expect, TFS retries onl

[2018-11-06 12:51] adamralph commented on #519
Hi @emi662002, thanks for raising this. I'll form an answer and get back to you ASAP.

[2018-11-07 17:08] adamralph commented on #519
@emi662002 sorry for the delay. This sounds like a TFS problem. Before I explain why, I need to provide some background information:

xunit is built around the concepts of "test cases" and "tests". If you use a local test runner with a GUI, what you see in the GUI are _test cases_. When you run a test case, that usually results in the running of a single _test_. However, in some cases, running a s

[2018-11-08 06:40] bradwilson commented on #519
Seems reasonable.

[2018-11-09 07:57] emi662002 commented on #519
Wow! I expected the outcome, but I really appreciate the amazing answer, thanks for taking the time! I will go further on the TFS side of the story.

[2018-11-09 07:57] #519 closed, assigned to adamralph

[2018-11-12 11:09] adamralph commented on #519
@emi662002 if you've raised a public issue with TFS, would you mind posting a link here? It would be useful for anyone else having the same problem to track it. I may also add an FAQ about this.

[2018-11-12 12:41] emi662002 commented on #519
Sure, I will post the link as soon as I have one. There's some info also
telling that this will be fixed on TFS 2019....

[2018-11-13 08:36] emi662002 commented on #519
I didn't raise an issue because i found the following:

https://github.com/Microsoft/azure-pipelines-tasks/issues/6294#issuecomment-362151476

https://github.com/Microsoft/azure-pipelines-tasks/issues/7037#issuecomment-387053113 be aware with this one; batching is not the solution, it gives false positives.

[2018-11-13 09:05] adamralph commented on #519
Thanks for the links @emi662002. I have to admit I find those issues difficult to understand. It's not clear to me whether resolving either of them will fix this problem.

I get the impression that running tests within test cases in TFS currently suffers from many issues. I guess the first thing they need to fix is the more common case where tests within test cases are known at discovery time (e.g

[2018-12-31 09:43] tmpalaniselvam opened #546 "Support for Excel based iterations as test data"
Hi Team,
 I'm looking for excel based data driven support from BDD tools. Do you provide the feature to utilize the excel data as parameterization?

Thanks,
Palani

[2018-12-31 10:38] adamralph commented on #546
Hi @tmpalaniselvam, thanks for asking this question.

An xBehave.net scenario will use data provided by any attribute which derives from [`Xunit.Sdk.DataAttribute`](https://github.com/xunit/xunit/blob/d321bb572abf9027e3762848068b3e9eea2458f2/src/xunit.core/Sdk/DataAttribute.cs). That includes the attributes built in to xunit - `ClassDataAttribute`, `InlineDataAttribute`, and `MemberDataAttribute`

[2019-01-01 16:22] tmpalaniselvam commented on #546
Hi @adamralph ,

Thanks for the detailed reply. I will try this.

[2019-01-01 16:22] #546 closed, assigned to nobody

[2019-01-15 00:51] mattfrear opened #551 "dotnet test reports more tests"
Hi

I've been using XBehave for a couple of years, and one thing that's always bugged me is that `dotnet test` reports more tests than there really are. e.g. I've just started a new project, and I have only one test in the project:
[code]

In my VS test runner, this shows up as one test. But when I run `dotnet test` I see:
[code]

**Expected output:**
Total tests: 1. Passed: 1. Failed: 0. Skipped:

[2019-01-15 08:06] adamralph commented on #551
@mattfrear thanks for asking this question.

This is part of the design of xbehave. E.g. from the repo banner:

xbehave is deliberately built this way so that each step can be reported individually, as succeeded, failed, or skipped.

[2019-01-15 08:06] #551 closed, assigned to nobody

[2019-01-15 22:12] mattfrear commented on #551
Thanks @adamralph for the explanation.

It does seem a bit strange that it does that, especially when it comes to viewing the test run results in the likes of an Azure DevOps build pipeline - ooh, we have 500 tests cool. Erm, not really, we actually have 50. And it seems different from every other test suite that I know about. Perhaps this is something that could be configurable?

[2019-01-16 06:53] adamralph commented on #551
As I said, this is the very purpose of xbehave. If this is changed, there's little or no benefit in using xbehave over regular xunit.

I"m not sure that the number of tests tells you anything. It's possible to have poorly tested code with a large number of tests and well tested code with a small number of tests.

That's the idea. 🙂

If you configured it to generate a single test per scenario, then

[2019-03-07 10:06] adamralph opened #556 "create org-wide defaults"
https://github.blog/changelog/2019-02-21-organization-wide-community-health-files/

[2019-05-07 09:05] farhad-taran opened #561 "How to replace Example from XBehave with Autofixture's AutoMoqDataAttribute"
Hello,

I am trying to use an AutoMoqDataAttribute with my XBehave scenarios but it seems that when I do this I use the benefit of having different step information showing up on the Resharper or MsTest windows.

![Capture](https://user-images.githubusercontent.com/7329422/57209752-ae063080-6fd1-11e9-81f2-cf0004591779.PNG)

usually to provide data to your tests in Xbehave you use an Example attrib

[2019-05-14 06:14] adamralph commented on #561
Hi @ftaran, thanks for raising this. I'm not entirely sure I understand the problem. As long as the attribute you are using derives from xunit's `DataAttribute`, everything should just work.

[2019-05-14 06:17] farhad-taran commented on #561
@adamralph
Is it possible to unseal the example attribute so that I can extend it? This way I will be able to automatically generate test data and get detailed info in the test window.

[2019-05-14 06:52] adamralph commented on #561
@ftaran you can inherit directly from `Xunit.Sdk.DataAttribute`.

As you can see from the [source](https://github.com/xbehave/xbehave.net/blob/db8efe0ad055ec1c061f47af4d4e7b6747d66589/src/Xbehave.Core/ExampleAttribute.cs), `ExampleAttribute` is a trivial derivation of `DataAttribute`.

[2019-05-14 13:36] iamkoch commented on #561
Ah hey. Yes, I wrote that Gist.

So I extended AutoData:

[code]

with `ExampleAutoDataSpecimenBuilder` being from the above-mentioned gist. `ExampleAutoDataSpecimenBuilder` infers the parameter position in the target method then uses that to find the data by index in the `object[]` provided.

 You then adorn your scenarios with `[CustomAutoData(1, "two", 3)]` and it'll work how `Example` works

[2019-05-19 12:02] Jazzman82 opened #565 "ITestOutputHelper does not work in constructors/dispose or Teardown() when test-class contains xbehave-Scenarios"
Is it possible to add the ITestOutputHelper to those artifacts? It always says that there is no active test-case, but it should be possible as constructor/dispose and Teardown are test-case specific.

[2019-05-19 13:53] adamralph commented on #565
Hi @Jazzman82 thanks for raising this. I've successfully reproduced the problem.

The good news is that I currently have some [work in progess](https://github.com/xbehave/xbehave.net/pull/566) which should fix this.

[2019-05-20 11:14] Jazzman82 commented on #565
Cool! So I will switch to patience-mode ;)

[2019-05-30 08:33] InspiringCode opened #567 "Customizing the displayed step names in output/Visual Studio"
Is there any way to customize how step names and scenario names are displayed? I would really find it useful to just see the sequence and name of the step without the scenario name prefix. So instead of

I would like to see just

which would be much more clear and easy to read. Also I would like to just see the class name as the scenario name, without the namespace.

Is there any way I can extend/

[2019-06-01 09:46] adamralph commented on #561
@ftaran have you managed to acheive what you want?

[2019-06-01 10:41] adamralph commented on #567
Hi @InspiringCode, thanks for raising this question.

Regarding the scenario name, you can control that using the `DisplayName` property of the `Scenario` attribute, e.g.

[code]

This will also be reflected in the name of the steps in the scenario, but there is no way to trim those down to only the step number and step text.

However, before embarking on this, it's worth bearing a few things in m

[2019-06-01 12:13] InspiringCode commented on #567
Hi @adamralph, thank you very much for your thorough answer.

My use case is simply the Test Explorer of Visual Studio, which I use to run my test. When browsing tests or when I test fails, I quickly want to get a good overview. However, in my Visual Studio 2019 the Test Explorer looks like this:

![text_explorer_screenshot](https://user-images.githubusercontent.com/7359776/58748307-d79e6480-8476-

[2019-06-01 15:04] adamralph commented on #567
@InspiringCode is it better if you switch on "Show Test Hierarchy"?

![image](https://user-images.githubusercontent.com/677704/58750184-5d2e0e80-848f-11e9-91e8-90b37a11769b.png)

[2019-06-01 15:35] InspiringCode commented on #567
Sorry for the confusion, I tried it again now, and suddenly Visual Studio respected the DisplayName property also in the tree and the title. It seems to take a few seconds or a complete test run, or I don't know. But it works now.

Back to the step names: My initial thought was: why do I need a prefix at all? Because at least in Visual Studio, the steps are always listed below the scenario (as a d

[2019-06-02 17:12] adamralph commented on #567
@InspiringCode omitting the method name might work for some GUI runners, but it won't work for most CLI runners, such as `dotnet test` and `xunit.console.exe`. When a test fails in a CLI runner, only the name of the test is shown in the failure message. Since each xbehave step is a emitted as a distinct xunit test, if the only the step text is shown in the failure message, you will no have no indi

[2019-06-08 10:19] adamralph commented on #561
@ftaran I assume that, given the above info, you have enough to things working for you now. If not, please feel free to re-open this issue or raise another one.

[2019-06-08 10:19] #561 closed, assigned to nobody

[2019-06-08 10:20] adamralph commented on #567
@InspiringCode have you managed to get things working satisfactorily now or do you have any remaining concerns?

[2019-06-19 07:22] InspiringCode commented on #567
Manually assigning shorter Scenario names makes thing a little better, but still it isn't really satisfactory. I would love to see a configuration option or some extension point, where people that are using the Visual Studio IDE can turn the including of the scenario name off (or maybe completely customize the naming in form of a format string or whatever), maybe depending on the fact whether the

[2019-08-04 08:32] adamralph opened #579 "Update SourceLink to 1.0.0-beta2-19367-01"
From 1.0.0-beta2-19270-01.

[2019-08-04 09:04] #579 closed, assigned to nobody

[2019-08-14 21:50] adamralph commented on #579
Part of #469.

[2019-09-08 22:08] adamralph opened #590 "switch to GitHub Actions for CI"
waiting for beta invitation

[2019-09-11 08:21] skottmann opened #595 "Nested context/steps malfunction silently"
## Version(s)

2.4.0

## To reproduce

Steps to reproduce the behavior:

`"when1...".x(() => "when2...".x(() => throw new Exception("Test failure!")));`

## Expected behavior

As nested steps/contexts is an unsupported feature, `"when2...".x(()..)` should fail fast with an exception.

## Actual behaviour

No error happen. Test is green.
Test failures and mistakes in writing tests are covered up by

[2019-09-11 08:28] BrunoJuchli commented on #595
This has been quite a pitfall for us when switching from another testing syntax.
Code reuse becomes limited, and we've got trade off's between having more finely grained test-entries (which make it easier to see what has failed) and clean code / maintainability of our tests.

Ideally of course we could write test code just like we write production code (same measures of clean, maintainability etc.

[2019-09-11 09:06] BrunoJuchli commented on #595
@adamralph
I'm thinking about creating a PR for this. Does anything spring to mind which I should know?
No need to answer if it would take significant time, I'll probably be fine finding the way myself :-)

[2019-09-11 16:51] adamralph commented on #595
@skottmann @BrunoJuchli thanks for raising this and for chiming in!

I agree that it would be better to throw an exception when a step is nested. That said, I'm not sure how easy this will be to fix. I'll have a think about it.

In the meantime, you are more than welcome to raise a PR. The PR branch should be based on `release-2.4.0`.

[2019-09-12 16:07] adamralph commented on #590
Closed by #600 and #602.

[2019-09-12 16:07] #590 closed, assigned to nobody

[2019-09-12 16:30] adamralph commented on #556
Issue templates created. Nothing more required.

[2019-09-12 16:30] #556 closed, assigned to nobody

[2019-10-05 16:26] adamralph commented on #595
@BrunoJuchli I'd prefer to call this an enhancement, rather than a bug. I.e. it was never the intention, nor was it ever documented, that nested step definition should throw an exception. It's a misuse of the API, and therefore those steps will never execute, but I think having an exception thrown is an improvement to behaviour rather than fixing incorrect behaviour. What do you think?

BTW - it w

[2019-10-06 08:29] adamralph opened #617 "Throw an exception when steps are defined which will not be executed"
## Use case(s)

For example, if a step is defined in a nested context:

[code]

The nested step will never be executed, and will effectively fail silently.

## Description

When a step is defined in a nested context, or in any other place where it will not be executed, such as outside a scenario or background method, an exception is thrown with the message:

## Alternatives

An analyzer, but this

[2019-10-06 08:30] adamralph commented on #617
Closed by https://github.com/xbehave/xbehave.net/pull/612.

[2019-10-06 08:30] adamralph commented on #595
Replaced by #617, as a feature, not a bug.

[2019-10-06 08:30] #595 closed, assigned to nobody

[2019-10-06 08:30] BrunoJuchli commented on #595
@adamralph
I think that's a completely valid view point. I believe there's other valid view points, but that It doesn't matter much as long as you stay consistent in xBehave.net. If you treated issues like that as enhancement before, I'd recommend continuing to do so.

Thanks a lot for you time / effort!

[2019-10-06 08:34] #617 closed, assigned to nobody

[2019-10-06 08:37] adamralph opened #618 "2.4.1 release"
- [RC 1](https://www.nuget.org/packages/Xbehave/2.4.1-rc.1) - _6th October_
  - [x] https://github.com/adamralph/bullseye
  - [x] https://github.com/adamralph/simple-exec
  - [x] https://github.com/adamralph/minver
  - [x] https://github.com/adamralph/liteguard
  - [x] https://github.com/xbehave/xbehave.net
  - [x] `@BrunoJuchli` - _https://github.com/xbehave/xbehave.net/issues/617#issuecomment-53

[2019-10-06 19:19] adamralph commented on #617
@BrunoJuchli I've released this enhancement in [2.4.1-rc.1](https://www.nuget.org/packages/Xbehave/2.4.1-rc.1). Would you mind giving it a try to check it works as expected?

[2019-10-08 08:27] BrunoJuchli commented on #617
@adamralph
I've updated our code to use 2.4.1-rc.1. Existing tests work as before. When i try nesting, it works as expected.
![image](https://user-images.githubusercontent.com/2090172/66377881-b87a8b00-e9b2-11e9-94da-64d7ac8450ff.png)

I was wondering though whether it would be sensible to have a more comprehensive exception message to point the user in the right direction:

Notice, though, that E

[2019-10-30 08:25] adamralph commented on #617
@BrunoJuchli that's not a bad idea. Since 2.4.1 has already gone into RC (I probably should have given you a beta first) I'll release RTM as-is, but I'll raise another issue to improve the exception message in 2.4.100.

[2019-10-30 08:27] adamralph opened #630 "Better exception message when the currently executing thread is not in a step definition context"
This exception was [introduced in 2.4.1](https://github.com/xbehave/xbehave.net/issues/617).

As suggested by @BrunoJuchli in https://github.com/xbehave/xbehave.net/issues/617#issuecomment-539408269, the exception message should also contain hints about why this might be the case. E.g.

[2019-10-30 08:39] #618 closed, assigned to nobody

[2019-11-24 15:41] #218 closed, assigned to nobody

[2019-12-26 21:44] adamralph opened #648 "switch to Microsoft.SourceLink"

[2019-12-26 21:44] #648 closed, assigned to nobody

[2020-03-11 12:24] DanHampl opened #655 "InitializeAsync is not called for Scenario tests"
## Version(s)
"2.4.1"

## To reproduce

[code]

## Expected behavior

IAsyncLifetime will be called for [Scenario]

## Actual behaviour

InitializeAsync is not called for [Scenario]

## Workarounds

Call InitializeAsync from the test itself

## Additional context

Works flawlessly for [Fact]

[2020-03-22 11:10] adamralph commented on #655
@DanHampl thanks for raising this. I'll look into it.

[2020-04-14 17:24] redoz commented on #565
@adamralph Just ran into this myself, as I re-used a helper-method that writes to the `ITestOutputHelper` in a Teardown method, so I just wanted to check what the expectations are on this issue? Anything I can do to help out?

[2020-06-27 18:19] mwpowellhtx opened #663 "Provide mechanisms allowing Background setup steps to be ordered"
## Use case(s)

I have some `Background` that are base class, followed by derived class.

## Description

I'd at least like for the base class steps to be handled in hierarchy order. Following that, potentially ordering them within each base class, by declaration order if possible, or by providing an `int Ordinal` of some sort.

## Alternatives

For now, I provided a set of "helper functions" that

[2020-06-27 18:35] mwpowellhtx commented on #663
[`ScenarioInvoker`](https://github.com/xbehave/xbehave.net/blob/16ffb03e5c814c2130e82270e1a91dbfc8639863/src/Xbehave.Execution/ScenarioInvoker.cs) looks promising, specifically [`InvokeScenarioMethodAsync`](https://github.com/xbehave/xbehave.net/blob/16ffb03e5c814c2130e82270e1a91dbfc8639863/src/Xbehave.Execution/ScenarioInvoker.cs#L150), and as I suspected, no ordering there. I'll have a deeper lo

[2020-06-27 19:02] adamralph commented on #663
Hi @mwpowellhtx, thanks for raising this.

I can see why this would be useful. It all depends what xunit's `GetMethods` does, as called on this line: https://github.com/xbehave/xbehave.net/blob/aef2b5d113838c72b70d01e449a7ab07b5e4aad3/src/Xbehave.Execution/ScenarioInvoker.cs#L159

Perhaps it already returns methods in the order you desire?

I'm unsure about this part. I'm not sure it makes much se

[2020-06-27 22:24] mwpowellhtx commented on #663
@adamralph Ran into a non-trivial kerfuffle. I think it could be resolved by assuming at least `netstandard2.0`. Bits that I need in either `ITypeInfo` or the corresponding `Reflection` `MethodInfo` were not available in `netstandard1.1`. Any reason why xBehave should target anything less than `netstandard2.0`?

[2020-06-27 22:26] mwpowellhtx commented on #663
@adamralph Oh, and to address your question, the order is not guaranteed to be in hierarchy order, from base class(es) on up the chain, which I would expect from something like a `Background` method. Added unit tests around that to begin the process, and found that out early.

[2020-06-27 22:52] mwpowellhtx commented on #663
Okay, so `IMethodInfo.Type` is throwing `NotSupportedException`. I suspect that is probably deep within `xUnit` itself. So that's most likely a dead end. Otherwise, `IMethodInfo.Type` and `ITypeInfo.BaseType` might be a viable path to consider.

However, after raising the bar on `netstandard`, I was able to leverage `ToRuntimeMethod` and subsequently both `Type.DeclaringType` and `Type.BaseType`.

[2020-06-27 22:55] mwpowellhtx commented on #663
Upping to `netstandard2.0` also carries with it raising the desktop bar to `net472`, minimum, I think. I'll await a little feedback while I continue vetting the solution on my end. All that assuming my cleaning `obj` and `bin` directories and running `dotnet restore` yielded reliable results.

[2020-06-27 23:02] mwpowellhtx commented on #663
[code]

This is a pretty simple way of doing it:

[code]

Which yielded correctly resolved `Background` invocation.

[2020-06-27 23:07] mwpowellhtx commented on #663
I have this in a draft working clone/branch for the moment. I'll understand if you are hesitant to raise either `dotnet` or `desktop` bars. Or perhaps the target frameworks could be strategically expanded to include `netstandard2.0` and `net472` with a couple of preprocessing flags.

Thinking of alternatives, I suppose I could "simply" virtualize a `Background` support method, and override in deri

[2020-06-28 15:22] mwpowellhtx commented on #663
@adamralph I'm prepared to commit and present the PR. Open question for you, are you open to the `netstandard2.0` `net472` update? Gauging from the commit history some months and/or years ago, I'd say this is probably more contemporary with the current state of `dotnet` affairs, IMO, but, then again, I do not know in which contexts `Xbehave` might be used.

[2020-06-28 18:21] adamralph commented on #663
hi @mwpowellhtx, for the 2.x range, I'd like to remain inline with xunit 2.x with respect to the target frameworks.

[2020-06-29 03:45] mwpowellhtx commented on #663
@adamralph Hmm, well, that's unfortunate, since the proposed solution does not work without the upgrade.

For now I'll kludge my way around it, but if you should change your mind, I can be ready with a stashed solution.

[2020-06-29 06:29] adamralph commented on #663
@mwpowellhtx are you sure there is no way of achieving this under the current TFM's? If not, I guess this may have to wait for xbehave 3.x, which will be based on xunit 3.x. AFAIK the TFM's in xunit 3.x are going to be relatively late versions.

[2020-06-29 18:30] mwpowellhtx commented on #663
You can look it up for yourself. I just followed the bread crumbs for the not implemented and other exceptions to MSDN, available on which runtimes, etc.

[2020-06-29 19:09] mwpowellhtx commented on #663
Closing this one for now.

[2020-06-29 19:09] #663 closed, assigned to nobody

[2020-07-01 20:29] mwpowellhtx opened #664 "Q: Clarify ContainItemsAssignableTo usage"
Hello, could you clarify `FluentAssertions` `ContainItemsAssignableTo` usage throughout the tests please?

I think they are asking *"are all the values meeting the criteria"*, but one could read them, *"do any of the values meet the criteria"*.

I just need to clarify that, please. Thanks...

[2020-07-01 22:28] mwpowellhtx opened #665 "Q: What's the difference between LiteGuard.Source and Validation"
[`Validation`](https://www.nuget.org/packages/Validation), or [`Validate.Fluently`](https://www.nuget.org/packages/Validate.Fluently), which builds on `Validation` except in a fluent manner.

Experimenting with a couple of things, when I replace the *Guards* as such, tests start to fail, at minimum. But when `LiteGuard.Source` is in the loop, things work fine.

Curious... Thanks!

[2020-07-01 23:53] blairconrad commented on #664
@mwpowellhtx, that's probably more of a FluentAssertions question (sadly, I don't think they document the test well over there), but based on
https://github.com/xbehave/xbehave.net/blob/ab20152d1962859f294886e7ff4eed2ae163b3e3/tests/Xbehave.Test/DefaultParametersFeature.cs#L22
it seems to be "all".

[2020-07-02 00:06] mwpowellhtx commented on #664
@blairconrad Thanks, yes, that was my first impression, notwithstanding the ambiguous method naming convention.

[2020-07-02 00:08] mwpowellhtx commented on #665
For giggles, I threw in a *QnD* unit test around either path. Which all told I don't think the issue, why *LiteGuard* "works" and *Validations* do not, is the code itself.

[code]

[2020-07-02 03:07] #664 closed, assigned to nobody

[2020-07-02 21:14] adamralph commented on #665
@mwpowellhtx I'm afraid I'm not familiar with `Validation` or `Validate.Fluently`.

[2020-07-02 21:52] mwpowellhtx commented on #665
@adamralph Okay, I appreciate that. I'm not sure what the difference is, other than it seems *LiteGuard.Source* appears to drop some actual code in the build.

Is it the worst thing ever if a validation package reference traveled with a BDD, or any other, TDD, package, i.e. whether internally as `PrivateAssets="all"`?

I'll close it out here. Appreciate your insights on that subject.

Thank you...

[2020-07-02 22:42] adamralph commented on #665
Sorry, I don't understand what you are asking here.

[2020-07-02 23:09] mwpowellhtx commented on #665
@adamralph In the current rendition of the BDD package, *LiteSource.Guard* literally injects code into the build stream correct?

Contrast that with a full package reference, i.e. not `PrivateAssets="all"`, that travels with the package.

Just curious, would that be the worst thing ever? Is there reasoning why not to do that?

Or perhaps could be done in a `Configuration=Debug` only?

Thanks...

[2020-07-03 07:43] adamralph commented on #665
Correct. `LiteGuard.Source` is a source code package. These are fairly common.

What are the proposed benefits of changing it?

[2020-07-03 15:25] mwpowellhtx commented on #665
Oh, I'm not proposing you change it here. I'm just trying to wrap my head around it as an architectural decision.

Are there any benefits, for instance, extending guards into the runtime, consumer side of things, for instance?

In debug, sure, I could see that.

[2020-07-03 15:30] adamralph commented on #665
Well, every dependency has a cost. A package with no dependencies is easier to maintain and consume. By using `LiteGuard.Source`, instead of `LiteGuard`, the code is compiled into the xbehave package, so it doesn't need to take a package dependency.

[2020-07-03 16:05] mwpowellhtx commented on #665
Yes, but does it provide any value to the end consumer? Or is it really just a safety net during the debugging, unit testing process?

[2020-07-04 14:07] adamralph commented on #665
@mwpowellhtx that's difficult to quantify. It's really just defensive programming in the absence of a language feature: non-nullable reference types._*_

If an argument is null and is de-referenced, without the guard clauses, an obscure `NullReferenceException` is thrown with, at most, a line number. With the guard clauses, a more meaningful exception is thrown and the problem is easier to trace.

[2020-07-04 15:50] mwpowellhtx commented on #665
@adamralph Don't get me started on the utility of NRTs. I understand what they are, and quite frankly I think that `C#` as a language was perfectly capable, more so today with the advent of operators such as `??=` of reasoning by devs and their teams over the `null` "issue."

Again, not proposing to drop the guards altogether. I'm experimenting with them and I wonder whether they could possible be

[2020-07-05 08:16] adamralph commented on #665
@mwpowellhtx I think if I were to remove them, I'd remove them completely. I don't see any value in having them for `Debug` only.

[2020-07-05 08:16] #665 closed, assigned to nobody

[2020-09-06 11:37] Andras-Csanyi opened #682 "Rider result doesn't show step's result"
First of all, thank you for this library! I really missed something like this. It helps me a lot to keep test cases easy to understand without juggling with variable names and comments. I know unit and integration tests should be easy and simple, but there are cases when the functionality is not that simple and some plumbing is needed.

## Version(s)

2.4.1

## To reproduce

Steps to reproduce the

[2020-09-06 11:40] Andras-Csanyi commented on #682
Hell... After clean and rebuild it started working. No bug here, just some Rider thing. :)

[2020-09-06 11:40] #682 closed, assigned to nobody

[2020-09-16 13:02] Andras-Csanyi commented on #565
I have the same issue. Any progress on this?

[2020-09-17 18:58] adamralph commented on #565
@SayusiAndo unfortunately I have had no time to work on this.

[2020-09-17 19:18] Andras-Csanyi commented on #565
@adamralph No worries. I could solve it, unfortunately I had to drop xBehave.

[2020-11-06 07:57] WTobor commented on #655
Hello - do you have an update here?

[2020-11-06 08:01] adamralph commented on #655
@WTobor I'm afraid not. It's on my radar, but I've had no time to look into it yet.

[2020-11-20 09:12] redoz commented on #655
I think I just ran into this myself and it's kind of blocking me, would you take a PR for this if I can figure out what the problem is?

[2020-11-20 09:46] adamralph commented on #655
@redoz sure, please feel free to send a PR.

[2020-11-20 09:59] redoz commented on #655
@adamralph I have to see if I can fix it first 😄

[2020-11-20 11:36] redoz commented on #655
@adamralph So apparently I need learn how to read better, because I thought this was about IAsyncLifetime on the _collection_ itself and that appears to work fine. So I'm going to investigate why it doesn't work in my actual project, I guess I made a mistake somewhere.

Meanwhile, do you want a PR for the tests I added that makes sure that IAsyncLifetime is called correctly on collection fixtures

[2020-11-20 17:23] adamralph commented on #655
Sure, I'll happily take a look.

[2020-11-24 14:15] adamralph commented on #655
FYI I've started the ball rolling by pushing a failing test for this to https://github.com/adamralph/xbehave.net/tree/async-class-fixture

[2020-11-25 07:34] Eklange commented on #565
Any updates on this issue, would be great to be able to use ITestOutputHelper with xBehave

[2020-11-26 09:01] adamralph commented on #565
I'm not aware of any progress since my last comment.

@redoz PR's are always welcome. 🙂

[2020-11-26 12:29] redoz commented on #565
@adamralph Is #566 on hold waiting for xunit3?

[2020-11-26 13:35] redoz opened #731 "Assembly-level setup/teardown"
We're using xbehave to integration test our application, and we need a means of doing "before all" and "after all" type setups/teardowns. I found [Xunit.Extensions.AssemblyFixture](https://github.com/JDCain/Xunit.Extensions.AssemblyFixture) which seems to work, but doesn't support ```IAsyncLifetime``` so you only get ctor/dispose which isn't going to work great for us as we're async-everything.

S

[2020-11-26 15:51] adamralph commented on #565
@redoz no, it's not waiting for xunit3. It's something I started a while back, but didn't have time progress with any further.

That said, I'm not entirely sure if it's worth trying to get that all done (I'm not entirely sure where it's leading TBH) or whether it's worth just leaving xbehave 2.x as-is and waiting for xunit 3. Because xunit 2 was so different to xunit 1, xbehave 2 was a complete re

[2020-11-26 15:55] adamralph commented on #731
@redoz there is nothing in xbehave for this. As you suggest, this is something that, if feasible, should really be addressed in xunit, (either natively or via an extension), and then the required changes, if any, should be made to xbehave to ensure it also supports it.

[2020-11-26 16:03] redoz commented on #731
@adamralph Yeah, I think I'm going to lift some code from the extension project and build something that does what I need. I don't want to go to deep because it feels like with xunit3 everything is changing anyway. Hopefully they'll add more control over these things. Thanks for the quick reply!

[2020-11-26 16:03] #731 closed, assigned to nobody

[2020-11-26 16:05] redoz commented on #565
@adamralph Yeah my impression was that doing significant work with xunit2 internals would be wasted effort as soon as xunit3 is released, so I'm looking for quick wins, and will see if the new version offers what I need before starting to extend it.

[2020-11-26 16:06] adamralph commented on #731
@redoz it may be worth chiming in with this suggestion over in https://github.com/xunit/xunit

[2020-12-06 17:36] mwpowellhtx opened #738 "[Gitter] OAuth issue"
Why ever does the *xBehave.net* *gitter* need access to things like

[code]

What business is it of *gittter* or *xBehave.net* `repo` or `read:org`, in particular, *Public and private repositories*, *Organizations and teams*, or any of it for that matter?

[2020-12-06 21:25] adamralph commented on #738
Hi @mwpowellhtx, Gitter is an external service which I have no control over. I have no idea why it requests the permissions that it does. You'll have to take this up with Gitter.

[2020-12-06 21:25] #738 closed, assigned to nobody

[2020-12-06 21:28] thomaslevesque commented on #738
@adamralph does the Gitter room for xBehave.net even exist?
My guess is that @mwpowellhtx tried to find the Gitter room by entering the URL, saw the following message because the room doesn't exist, and clicked "Click here to do this now", which showed the consent screen for [Github Private Repo access](https://gitlab.com/gitterHQ/webapp/blob/develop/docs/oauth-scopes.md#github).

![image](https:/

[2020-12-06 21:38] adamralph commented on #738
I have no idea.

I guess that people may have been finding it since http://xbehave.github.io/ had a link to it. I've just pushed a commit to make that site into a redirect back to this repo.

[2020-12-07 00:47] mwpowellhtx commented on #738
Pretty certain the channel did exist before, not sure if it was yours or someone else's to be honest. I am subscribed to dozens of others and do not have the same issue, but if it is not your channel, then disregard I suppose.

[2020-12-07 22:03] mwpowellhtx opened #740 "Filename conflict with wiki checkout"
Current version. I tried cloning the docs, but got the following error, I suspect because literally `?` is an illegal file name character in _Windows_ and/or _Linux_:

[code]

[2020-12-07 22:04] mwpowellhtx commented on #740
I think I see what happened there, probably in an FAQ page or something. Some of the headings are questions, per se, but each of these actually lands as an `.md` file...

[2020-12-08 07:19] #740 closed, assigned to nobody

[2020-12-09 22:38] Eklange opened #741 "Question: Every step treated as a test"
Hello,

I really like how xBehave show all steps in test explorer but the drawback is that every step is then counted as a test. It would be good if the test count would not include all steps but maybe that is not possible to get if we also want to see all steps in test explorer?

Using resharper all steps are visible in the tree hierarchy but for built in test explorer in Visual studio you have t

[2020-12-11 21:02] adamralph commented on #741
Hi @Eklange, I'm afraid that's a limitation/design choice of the Visual Studio test explorer. The best I can suggest is that you raise a feature request with Microsoft, but I'm afraid I don't know the best place to do that.

[2021-03-15 15:03] #741 closed, assigned to nobody

[2021-06-07 14:55] jricke opened #784 "Azure DevOps not displaying correct steps in Build Test Summary"
Xbehave 2.4.1

Steps to reproduce the behaviour:

1. Create new test project using DotNet 5
2. Add Xbehave nuget package
3. Add FluentValidations nuget package
4. Add sample code from quick start
5. Commit/Push and build/test via Azure DevOps Pipeline

## Expected behaviour

Expected the outcome to display each step in the build's test tab.

## Actual behaviour

In the build's test tab, it shows s